@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

*

/
.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none
}

.ui-menu .ui-menu {
    position: absolute
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: text;
    display: block;
    height: 46px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 46px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #fff
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, white 50%, #eee 100%);
    background-image: -o-linear-gradient(top, white 50%, #eee 100%);
    background-image: linear-gradient(to bottom, white 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, white 0%, #eee 50%);
    background-image: -o-linear-gradient(top, white 0%, #eee 50%);
    background-image: linear-gradient(to bottom, white 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, white 100%);
    background-image: -o-linear-gradient(top, #eee 50%, white 100%);
    background-image: linear-gradient(to bottom, #eee 50%, white 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}

.animation-slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }
    50% {
        transform: translateY(8%)
    }
    65% {
        transform: translateY(-4%)
    }
    80% {
        transform: translateY(4%)
    }
    95% {
        transform: translateY(-2%)
    }
    100% {
        transform: translateY(0%)
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    50% {
        -webkit-transform: translateY(8%)
    }
    65% {
        -webkit-transform: translateY(-4%)
    }
    80% {
        -webkit-transform: translateY(4%)
    }
    95% {
        -webkit-transform: translateY(-2%)
    }
    100% {
        -webkit-transform: translateY(0%)
    }
}

.animation-fadeInRight {
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}

.animation-fadeInLeft {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(+100%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(+100%);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #353535;
    background-color: #151515
}

#page-container {
    margin: 0 auto;
    width: 100%
}

#page-container.boxed {
    max-width: 1280px
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    color: #fff;
    background: url(../img/template/ie8_opacity_dark_20.png);
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    -webkit-transition: all ease-out .25s;
    transition: all ease-out .25s
}

header.header-scroll {
    padding: 10px 0;
    background: url(../img/template/ie8_opacity_dark_60.png);
    background: rgba(0, 0, 0, 0.6)
}

header.header-scroll:hover {
    background: rgba(0, 0, 0, 0.8)
}

a.site-logo {
    display: block;
    float: left;
    color: #fff;
    font-size: 24px;
    height: 34px;
    line-height: 34px
}

a.site-logo:hover {
    color: #fff;
    text-decoration: none
}

a.site-logo > i {
    font-size: 14px;
    opacity: .6;
    -webkit-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s
}

a.site-logo:hover > i {
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5)
}

header nav {
    float: right
}

.site-nav {
    position: fixed;
    top: 0;
    right: -260px;
    bottom: 0;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background: #353535;
    z-index: 1001;
    -webkit-transition: -webkit-transform ease-out .3s;
    transition: transform ease-out .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.site-nav.site-nav-visible {
    -webkit-transform: translateX(-260px) translateY(0) translateZ(0);
    transform: translateX(-260px) translateY(0) translateZ(0)
}

.lt-ie9 .site-nav.site-nav-visible {
    right: 0
}

.site-nav a {
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    margin: 2px 5px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-transform: uppercase
}

.site-nav a:hover {
    color: #333;
    background: #fff;
    text-decoration: none
}

.site-nav a.active, .site-nav a.active:hover, .site-nav li.active > a {
    color: #fff;
    background: url(../img/template/ie8_opacity_dark_40.png);
    background: rgba(0, 0, 0, 0.4)
}

.site-nav i {
    font-size: 14px
}

.site-nav i.site-nav-arrow {
    float: right;
    line-height: 34px;
    margin-left: 10px
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px
}

.site-nav ul a {
    color: #ddd;
    text-transform: none;
    height: auto;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px
}

.site-section {
    padding: 50px 0
}

.site-block {
    margin-bottom: 49px
}

.site-heading {
    margin: 0 0 29px
}

.site-content {
    background-color: #fff;
    padding-bottom: 1px
}

.site-section-top {
    padding-top: 114px;
    overflow: hidden
}

.site-section-light {
    color: #fff
}

.site-slide-content {
    overflow-x: hidden
}

.site-top-avatar {
    margin-top: 25px;
    width: 74px;
    height: 74px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc;
    border-color: rgba(255, 255, 255, 0.4)
}

.site-top-avatar.pull-right {
    margin-left: 30px
}

.site-top-avatar.pull-left {
    margin-right: 30px
}

.sidebar > .sidebar-block {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px
}

.sidebar > .sidebar-block:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}

.promo-content {
    margin-bottom: 0;
    font-size: 18px;
    color: #000
}

.parallax-image {
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}

.site-footer {
    color: #656565;
    padding-top: 11px;
    padding-bottom: 40px;
    background-color: #252525
}

.footer-heading {
    color: #fff;
    font-size: 19px;
    margin: 29px 0 15px
}

.footer-nav a {
    color: #777;
    -webkit-transition: all ease-out .15s;
    transition: all ease-out .15s
}

.footer-nav a:hover {
    text-decoration: none
}

.footer-nav-social a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #151515;
    border-radius: 13px;
    -webkit-transition: all ease-out .25s;
    transition: all ease-out .25s
}

.footer-nav-social a:hover {
    color: #fff;
    background-color: #1bbae1;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5)
}

.store-menu, .store-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #eee
}

.store-menu a {
    display: block;
    padding: 7px 10px;
    color: #333
}

.store-menu a:hover, .store-menu a:focus, .store-menu a.active {
    text-decoration: none;
    color: #1bbae1
}

.store-menu > li > a {
    font-weight: 700
}

.store-menu a.submenu > i {
    margin-right: 5px;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out
}

.store-menu ul {
    display: none;
    background: #f9f9f9
}

.store-menu ul a {
    padding: 5px 0 5px 25px
}

.store-menu ul ul a {
    padding: 5px 0 5px 40px;
    color: #555
}

.store-menu .open > a.submenu > i {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg)
}

.store-menu .open > ul {
    display: block
}

.table.table-pricing {
    background-color: #fff
}

.table-pricing th, .table-pricing td {
    text-align: center
}

.table-pricing th {
    font-size: 24px !important
}

.table-pricing td {
    font-size: 15px;
    padding-top: 12px !important;
    padding-bottom: 12px !important
}

.table-pricing .table-price {
    background-color: #f9f9f9
}

.table-pricing.table-featured .table-price, .table-pricing .table-price.table-featured {
    background-color: #252525
}

.table-pricing.table-featured th, .table-pricing th.table-featured {
    background-color: #1bbae1;
    border-bottom: 2px solid #394263;
    color: #fff
}

.table-pricing.table-featured td, .table-pricing td.table-featured {
    background-color: #394263;
    color: #fff
}

*

/
/* Gallery */
.gallery img, .gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 100%
}

a[data-toggle="lightbox-image"], a.gallery-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.gallery a:hover img, .gallery-image:hover img, a[data-toggle="lightbox-image"]:hover img {
    opacity: .75;
    filter: alpha(opacity=75)
}

.gallery-image {
    position: relative
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px
}

.gallery-image:hover .gallery-image-options {
    display: block
}

.gallery > .row > div {
    margin-bottom: 15px
}

.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px
}

.content-float .pull-left {
    margin: 0 20px 20px 0
}

.content-float .pull-right {
    margin: 0 0 20px 20px
}

.counter {
    text-align: center;
    color: #fff
}

.counter span {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    display: block
}

.counter small {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 15px;
    -webkit-transition: all ease-out .25s;
    transition: all ease-out .25s
}

.circle:hover, .circle:focus {
    color: #fff;
    text-decoration: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.circle .gi, .circle .hi, .circle .si, .circle .fi {
    margin-top: -7px
}

.row-items > div {
    margin-bottom: 49px
}

#to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 3px;
    padding: 0 12px 3px;
    font-size: 28px;
    text-align: center;
    color: #000;
    background-color: #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

#to-top:hover {
    color: #fff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100)
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: 300
}

strong {
    font-weight: 600
}

a, a:hover, a:focus, .text-primary, .text-primary:hover {
    color: #1bbae1
}

.text-danger, .text-danger:hover, a.text-danger, a.text-danger:hover, a.text-danger:focus {
    color: #e74c3c
}

.text-warning, .text-warning:hover, a.text-warning, a.text-warning:hover, a.text-warning:focus {
    color: #e67e22
}

.text-success, .text-success:hover, a.text-success, a.text-success:hover, a.text-success:focus {
    color: #27ae60
}

.text-info, .text-info:hover, a.text-info, a.text-info:hover, a.text-info:focus {
    color: #3498db
}

.text-muted, .text-muted:hover, a.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #999
}

p {
    line-height: 1.7
}

article p {
    font-size: 16px;
    line-height: 1.8
}

ul.ul-breath li {
    margin-bottom: 7px
}

label {
    font-weight: 600
}

fieldset legend {
    font-size: 16px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #eaedf1
}

input[type="file"] {
    padding-top: 7px
}

input[type="text"].form-control, input[type="password"].form-control, input[type="email"].form-control, textarea.form-control {
    -webkit-appearance: none
}

.form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #353535;
    border-color: #ddd
}

.form-control-borderless .form-control, .form-control-borderless .input-group-addon, .form-control-borderless, .form-control-borderless:focus {
    border: transparent !important
}

.form-control:focus {
    border-color: #1bbae1
}

.btn {
    margin: 1px 0;
    border-width: 0;
    background-color: #fff;
    -webkit-transition: all ease-out .15s;
    transition: all ease-out .15s
}

.input-group-btn .btn {
    border-width: 1px
}

.btn .gi, .btn .hi, .btn .si, .btn .fi {
    line-height: 1
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .4;
    filter: alpha(opacity=40)
}

.input-group .btn, .modal-content .btn {
    margin-top: 0;
    margin-bottom: 0
}

.btn-default {
    background-color: #f1f1f1;
    border-color: #eee;
    color: #353535
}

.btn-default.btn-alt {
    background-color: #fff
}

.btn-default:hover {
    background-color: #ddd;
    border-color: #ccc
}

.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default.active, .btn-default.active:hover, .btn-default.active:focus, .open .btn-default.dropdown-toggle, .open .btn-default.dropdown-toggle:hover, .open .btn-default.dropdown-toggle:focus, .open .btn-default.dropdown-toggle.focus {
    background-color: #eaedf1;
    border-color: #eaedf1
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, .btn-default[disabled]:active:focus, .btn-default[disabled].active:focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active:focus, fieldset[disabled] .btn-default.active:focus {
    background-color: #eaedf1;
    border-color: #eaedf1
}

.btn-primary {
    background-color: #6ad2eb;
    border-color: #1bbae1;
    color: #fff
}

.btn-primary.btn-alt {
    background-color: #fff;
    color: #1bbae1
}

.btn-primary:hover {
    background-color: #1bbae1;
    border-color: #1593b3;
    color: #fff
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active, .btn-primary.active:hover, .btn-primary.active:focus, .open .btn-primary.dropdown-toggle, .open .btn-primary.dropdown-toggle:hover, .open .btn-primary.dropdown-toggle:focus, .open .btn-primary.dropdown-toggle.focus {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #fff
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, .btn-primary[disabled]:active:focus, .btn-primary[disabled].active:focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active:focus, fieldset[disabled] .btn-primary.active:focus {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #fff
}

.btn-danger {
    background-color: #ef8a80;
    border-color: #e74c3c;
    color: #fff
}

.btn-danger.btn-alt {
    background-color: #fff;
    color: #e74c3c
}

.btn-danger:hover {
    background-color: #e74c3c;
    border-color: #9c3428;
    color: #fff
}

.btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger.active, .btn-danger.active:hover, .btn-danger.active:focus, .open .btn-danger.dropdown-toggle, .open .btn-danger.dropdown-toggle:hover, .open .btn-danger.dropdown-toggle:focus, .open .btn-danger.dropdown-toggle.focus {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, .btn-danger[disabled]:active:focus, .btn-danger[disabled].active:focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active:focus, fieldset[disabled] .btn-danger.active:focus {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff
}

.btn-warning {
    background-color: #f7be64;
    border-color: #f39c12;
    color: #fff
}

.btn-warning.btn-alt {
    background-color: #fff;
    color: #f39c12
}

.btn-warning:hover {
    background-color: #f39c12;
    border-color: #b3730c;
    color: #fff
}

.btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning.active, .btn-warning.active:hover, .btn-warning.active:focus, .open .btn-warning.dropdown-toggle, .open .btn-warning.dropdown-toggle:hover, .open .btn-warning.dropdown-toggle:focus, .open .btn-warning.dropdown-toggle.focus {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, .btn-warning[disabled]:active:focus, .btn-warning[disabled].active:focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active:focus, fieldset[disabled] .btn-warning.active:focus {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff
}

.btn-success {
    background-color: #aad178;
    border-color: #7db831;
    color: #fff
}

.btn-success.btn-alt {
    background-color: #fff;
    color: #7db831
}

.btn-success:hover {
    background-color: #7db831;
    border-color: #578022;
    color: #fff
}

.btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .btn-success.active:hover, .btn-success.active:focus, .open .btn-success.dropdown-toggle, .open .btn-success.dropdown-toggle:hover, .open .btn-success.dropdown-toggle:focus, .open .btn-success.dropdown-toggle.focus {
    background-color: #7db831;
    border-color: #7db831;
    color: #fff
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, .btn-success[disabled]:active:focus, .btn-success[disabled].active:focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active:focus, fieldset[disabled] .btn-success.active:focus {
    background-color: #7db831;
    border-color: #7db831;
    color: #fff
}

.btn-info {
    background-color: #7abce7;
    border-color: #3498db;
    color: #fff
}

.btn-info.btn-alt {
    background-color: #fff;
    color: #3498db
}

.btn-info:hover {
    background-color: #3498db;
    border-color: #2875a8;
    color: #fff
}

.btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info:active:hover, .btn-info:active:focus, .btn-info.active, .btn-info.active:hover, .btn-info.active:focus, .open .btn-info.dropdown-toggle, .open .btn-info.dropdown-toggle:hover, .open .btn-info.dropdown-toggle:focus, .open .btn-info.dropdown-toggle.focus {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, .btn-info[disabled]:active:focus, .btn-info[disabled].active:focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active:focus, fieldset[disabled] .btn-info.active:focus {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link.btn-icon:hover, .btn-link.btn-icon:focus {
    color: #1bbae1
}

.btn-link.btn-icon {
    color: #999
}

.btn-link.btn-icon:hover, .btn-link.btn-icon:focus {
    text-decoration: none
}

.label, .badge {
    font-weight: 400;
    font-size: 90%
}

.label {
    padding: 1px 4px
}

.badge {
    background: url(../img/template/ie8_opacity_dark_30.png) repeat;
    background: rgba(0, 0, 0, 0.3);
    padding: 3px 6px
}

.label-danger {
    background-color: #e74c3c
}

.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #ff5542
}

.label-warning {
    background-color: #e67e22
}

.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #ff8b26
}

.label-success {
    background-color: #27ae60
}

.label-success[href]:hover, .label-success[href]:focus {
    background-color: #2cc76c
}

.label-info {
    background-color: #2980b9
}

.label-info[href]:hover, .label-info[href]:focus {
    background-color: #2f92d4
}

.label-primary {
    background-color: #1bbae1
}

.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #5ac5e0
}

.label-default {
    background-color: #999
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: #777
}

.alert {
    border-width: 0 2px
}

.alert-danger {
    color: #e74c3c;
    background-color: #ffd1cc;
    border-color: #ffb8b0
}

.alert-danger .alert-link {
    color: #e74c3c
}

.alert-warning {
    color: #e67e22;
    background-color: #ffe4cc;
    border-color: #ffd6b2
}

.alert-warning .alert-link {
    color: #e67e22
}

.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb
}

.alert-success .alert-link {
    color: #27ae60
}

.alert-info {
    color: #3498db;
    background-color: #dae8f2;
    border-color: #b8d2e5
}

.alert-info .alert-link {
    color: #3498db
}

.alert-dismissable .close {
    top: -5px;
    right: -25px
}

.close {
    text-shadow: none
}

.carousel-control {
    width: 60px
}

.carousel-control.left, .carousel-control.right, .carousel-control.left.no-hover:hover, .carousel-control.right.no-hover:hover {
    background: none;
    filter: none
}

.carousel-control.left:hover, .carousel-control.right:hover {
    background: url(../img/template/ie8_opacity_dark_20.png) repeat;
    background: rgba(0, 0, 0, 0.1);
    filter: none
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #fff;
    background-color: #1bbae1
}

.nav > li i {
    font-size: 14px
}

.nav-pills > .active > a > .badge {
    color: #1bbae1
}

.nav-stacked > li > a {
    margin: 4px 0 0
}

.nav .caret, .nav a:hover .caret, .nav a:focus .caret {
    border-top-color: #1bbae1;
    border-bottom-color: #1bbae1
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f9fafc
}

.nav-tabs {
    border-bottom-color: #eaedf1
}

.nav-tabs > li {
    margin-bottom: 0
}

.nav-tabs > li > a {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: -1px
}

.nav-tabs > li > a:hover {
    border-color: #eaedf1
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #394263;
    border-color: #eaedf1;
    border-bottom-color: transparent
}

.nav-pills > li.active > a > .badge {
    background: url(../img/template/ie8_opacity_dark_20.png) repeat;
    background: rgba(0, 0, 0, 0.2);
    color: #fff
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #1bbae1;
    font-weight: 600
}

.pager > li > a:hover, .pagination > li > a:hover {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #fff
}

.pager > li.disabled > a:hover {
    border-color: #eaedf1
}

p, .table, .alert, .carousel {
    margin-bottom: 20px
}

.navbar-form, .navbar-collapse, .form-control, .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .has-error .form-control:focus, .popover, .progress, .progress-bar, .btn.active, .open .btn.dropdown-toggle, .panel {
    -webkit-box-shadow: none;
    box-shadow: none
}

.push-bit {
    margin-bottom: 30px
}

.push {
    margin-bottom: 49px
}

.push-top-bottom {
    margin-top: 49px;
    margin-bottom: 49px
}

.remove-margin {
    margin-bottom: 0
}

.lt-ie9 .hidden-lt-ie9 {
    display: none !important
}

.display-none {
    display: none
}

.visibility-none {
    visibility: hidden
}

:focus {
    outline: 0 !important
}

@media screen and (min-width: 768px) {
    .site-heading-promo {
        margin-top: 60px
    }

    .modal-body {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (min-width: 992px) {
    .site-nav {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        overflow-y: visible;
        width: auto;
        background: transparent;
        z-index: auto;
        -webkit-transition: none;
        transition: none;
        -webkit-backface-visibility: visible;
        backface-visibility: visible
    }

    .site-nav.site-nav-visible {
        -webkit-transform: none;
        transform: none
    }

    .lt-ie9 .site-nav.site-nav-visible {
        right: auto
    }

    .site-nav li {
        float: left;
        padding: 0;
        margin-left: 10px;
        position: relative
    }

    .site-nav a {
        margin: 0
    }

    .site-nav li:hover > ul {
        display: block
    }

    .site-nav li.active > a {
        border-radius: 3px
    }

    .site-nav a.site-nav-sub, .site-nav li.active:hover > a.site-nav-sub {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    .site-nav > li:hover > a, .site-nav > li.active:hover > a {
        color: #333;
        background: #fff;
        text-decoration: none
    }

    .site-nav a.site-nav-sub {
        padding-right: 30px
    }

    .site-nav i.site-nav-arrow {
        margin: 0 -20px 0 0
    }

    .site-nav ul {
        display: none;
        position: absolute;
        left: 0;
        top: 34px;
        padding: 2px 0;
        width: 160px;
        background-color: #fff;
        border-radius: 3px;
        border-top-left-radius: 0;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
    }

    .site-nav li:last-child ul {
        left: auto;
        right: 0;
        border-radius: 3px;
        border-top-right-radius: 0
    }

    .site-nav ul li {
        float: none;
        margin: 0;
        padding: 1px 3px
    }

    .site-nav ul a {
        color: #333
    }

    .site-nav ul a:hover {
        background-color: #eee
    }

    .site-nav ul a.active, .site-nav ul a.active:hover {
        background-color: #454545
    }
}

@media screen and (min-width: 1200px) {
    article p {
        font-size: 19px;
        line-height: 1.9
    }

    .site-heading-promo {
        margin-top: 120px
    }

    .promo-content {
        font-size: 24px;
        font-weight: 300
    }
}

body {
    background-color: #f2f2f2
}

.effectsOnHover:hover {
    text-decoration: underline;
    cursor: pointer
}

.h3 {
    font-size: 2em
}

.btn-signup {
    background-color: #f87f06;
    color: #f2f2f2
}

.site-footer {
    background-color: #012632;
    color: #f5f5f5
}

.btn-success {
    background-color: #87CF30
}

.btn-primary {
    background-color: #07BEF8
}

.btn-round {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.footer-bottom-padding {
    padding: 1% !important
}

.footer-nav-social a {
    background-color: #f5f5f5;
    color: #000 !important;
    width: 3em;
    height: 3em;
    line-height: 3.2em;
    border-radius: 1.5em
}

.fa {
    font-size: 1.3em
}

.footer-nav li > a {
    color: #f5f5f5
}

.changing-background-text {
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 .2em #000
}

.conatct-social-icons:hover {
    border-radius: 100%;
    border: .1em solid #1bbae1;
    color: #1bbae1
}

.center {
    margin-left: auto;
    margin-right: auto
}

.home-search-btn {
    padding-right: 0;
    padding-left: 0
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important
}

#search_subject, .cmd_home_search_btn {
    border-radius: 0 !important
}

.select2-container .select2-selection--single {
    height: 46px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px
}

.btn-transparent {
    border: none;
    background: transparent
}

.btn-transparent:hover {
    background-color: #f87f06
}

.btn-transparent:focus {
    color: #fff
}

.search_locality {
    margin-top: 1px !important
}

@media (max-width: 991px) {
    .select2-container .select2-selection--single {
        height: 55px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 55px !important;
    }

    .input-lg {
        margin-top: 10px;
        height: 55px !important;
    }
}

.bold {
    font-weight: bold !important;
}

.marginT10 {
    margin-top: 10px;
}

.FontAwesome-wrapper input {
    font-family: 'FontAwesome';
}

.formMT input:focus, textarea:focus {
    border-color: #333 !important;
}

.formMT button{
    background-color: #3cacda !important;
    padding-left: 20px;
    padding-right: 20px;
}