/* font-family: 'Quicksand', sans-serif; */

.no_margin{margin:0!important}.no_padding{padding:0!important}.no_margin_left_right{margin-left:0!important;margin-right:0!important}.no_margin_top_bottom{margin-top:0!important;margin-bottom:0!important}*,p{margin:0;font-family: 'Raleway', sans-serif;}.no_padding_left_right{padding-left:0!important;padding-right:0!important}.no_padding_top_bottom{padding-top:0!important;padding-bottom:0!important}*{outline:none;padding:0}.html{font-size:14px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{font-family:Arial,Helvetica,sans-serif;font-size:12px; background:#f1f1f1 url('../images/bg.png') left bottom no-repeat;background-size: 60% auto;}h1,h2,h3,h4,h5,h6,p{font-family: 'Quicksand', sans-serif;font-weight:normal;}a,button{text-decoration:none;color:#555;display:inline-block}a:focus,a:hover{color:#23527c;text-decoration:none}img{border:0;vertical-align:middle;max-width:100%}dl,ol,ul{list-style:none}address,article,aside,footer,header,nav,section{display:block}.margin_top_5{margin-top:5px}.margin_top_10{margin-top:10px}.margin_top_20{margin-top:20px}.margin_top_30{margin-top:30px}.margin_top_40{margin-top:40px}.margin_top_50{margin-top:50px}.margin_top_60{margin-top:60px}.margin_top_70{margin-top:70px}.margin_top_80{margin-top:80px}.margin_top_90{margin-top:90px}.margin_top_100,.margin_top_110{margin-top:100px}.margin_top_120{margin-top:120px}.margin_top_130{margin-top:130px}.margin_bottom_5{margin-bottom:5px}.margin_bottom_10{margin-bottom:10px}.margin_bottom_20{margin-bottom:20px}.margin_bottom_30{margin-bottom:30px}.margin_bottom_40{margin-bottom:40px}.margin_bottom_50{margin-bottom:50px}.margin_bottom_60{margin-bottom:60px}.margin_bottom_70{margin-bottom:70px}.margin_bottom_80{margin-bottom:80px}.margin_bottom_90{margin-bottom:90px}.margin_bottom_100,.margin_bottom_110{margin-bottom:100px}.margin_bottom_120{margin-bottom:120px}.margin_bottom_130{margin-bottom:130px}a:active,a:focus,a:hover{outline:none;border:none;}


.header_wrapper{
	padding:10px 0; 
}
.h1_heading h1{
	font-size:22px;
	color:#2e3847;
	font-weight:500;
	margin-bottom:20px;
}
.logo a svg{
	width:224px;
	height:50px;
}
.h1_heading h2{
	font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
	color:#5c6779;
	margin-bottom:10px;
}
.post_match_learn figure{
	display:table;
	margin:0 auto;
	width:70%;
}
.why_pedagoge figure{
	width:100%;
}
.post_match_learn img{
	width:80px;
	height:80px;
}
.post_match_learn p,.answer_all_question figcaption p{
	font-size:14px;
	color:#2e3847;
}
.why_pedagoge h2{
	height:auto;
	min-height:50px;
}
.comment_box img,.cartoon_boy img{
	width:160px;
	height:100px;
}
.comment_box img{
	height: 110px;
    width: 120px;
}
.cartoon_boy button.no_show{
	background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #555;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
	position:relative;
	z-index:9999;
}
.cartoon_boy{
	margin-top:38px;
}
.comment_box,.cartoon_boy{
	display:block;
	float:left;
}
.for_model_set_bottom{
	position:relative;
	height:100%;
	min-height:600px;
}
.answer_all_question{
	position:absolute;
	bottom:-13px;
}
.answer_all_question figure{
	position: fixed;
	bottom: 0px;
	right: 40px;
	z-index: 1;
}
#page2 .answer_all_question figure{
	bottom: 10px;
}
.answer_all_question figcaption{
	bottom: 0;
    position: absolute;
    right: 198px;
    text-align: center;
    top: 9px;
    width: 100px;
}
.answer_all_question figcaption p{
    font-size: 13px;
    padding: 5px;
}
.modal-content{
	z-index:9999;
}
.qustion_answer .model_boy img{
	width:180px;
	height:350px;
	float:left;
}
.qustion_answer_model_wrapper .modal-dialog{
	max-width:748px;
	width:auto;
	margin:10% auto;
}
.qustion_answer_model_wrapper .modal-content{
	border:1px solid #2d3846;
}
.qustion_answer p{
	color: #2d3846;
    float: right;
    font-size: 14px;
    line-height: 30px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    text-shadow: none;
    width: 300px;
}
.qustion_answer .carousel-inner .item{
	min-height:400px;
	height:auto;
}
.qustion_answer .carousel-caption {
    left: 5%;
    padding-bottom: 0;
    right: 5%;
	top:0;
	bottom:auto;
}
.qustion_answer .carousel-control .fa {
    font-size: 14px;
}

/************************************************* Tab Panel *******************************************/

button.accordion {
    background-color: #2a3543;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    outline: medium none;
    padding: 6px 30px 6px 10px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 100%;
	position:relative;
}

button.accordion:before,button.accordion:after {
	width:0;
	height:0;
    content: "";
	position:absolute;
	border-width:5px 5px 0;
	border-style:solid;
	right:15px;
	top:50%;
	margin-top:-2px;
}
button.accordion:after {
    border-color:#2a3543 transparent transparent;
}
button.accordion:before{
    border-color:#fff transparent transparent;
	border-width:7px 7px 0;
	margin-top:-3px;
	margin-right:-2px;
}
button.accordion:active:before,button.accordion:active:after,button.accordion:focus:before,button.accordion:focus:after {
	width:0;
	height:0;
    content: "";
	position:absolute;
	border-width:0px 5px 5px;
	border-style:solid;
	right:15px;
	top:50%;
	margin-top:-2px;
}
button.accordion:active:before,button.accordion:focus:before{
    border-color:transparent transparent #fff;
	border-width:0 7px 7px;
	margin-top:-3px;
	margin-right:-2px;
}
button.accordion:active:after,button.accordion:focus:after {
    border-color:transparent transparent #2a3543;
}


div.panel {
    padding: 0 18px;
    background-color: #e5e5e7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	border-radius:0 0 6px 6px;
	border:1px solid #616973;
	border-top:none;
	margin-top:-2px;
}
.qustion_answer h3{
	font-size:16px;
	color:#3b5577;
	text-align:center;
	text-shadow: none;
    text-transform: capitalize;
	font-weight:bold;
}
.qustion_answer h3 span{
	display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
}

/******************************************************/

.student_teacher_tab{
	padding:10px;
}
.second_part{
	width:400px;
	float:left;
}
.qustion_answer .student_teacher_tab p {
    float: none;
    line-height: 22px;
    margin:5px 0;
    width: 100%;
	font-size:12px;
	text-align:left;
}
.second_part_cartoon {
	float:right;
	margin-right:30px;
}
.post_match_learn .svg_holder,.match_decoration .logo_holder{
	border: 2px solid #2d3846;
    border-radius: 10px;
    display: table;
    height: 120px;
    margin: 0 auto 15px;
    padding: 10px;
    width: 120px;
}
.post_match_learn .svg_holder img{
	margin-top:7px !important;
}
.h1_heading h3{
	font-size: 20px;
    font-weight: 500;
	text-transform:none;
}
.match_decoration .logo_holder{
    height: 120px;
    width: 120px;
}
.match_decoration .logo_holder img{
	margin-top:25px;
}
.green_color{
	color:#00a651;
}
.match_decoration p{
	font-size:16px;
	font-weight:500;
	line-height:24px;
}
.line_break{
	display:block;
}
.match_decoration .search{
	font-size: 16px;
	background: #fff;
	border-left: 2px solid #2e3847;
	padding: 0;
	width: 40px;
	height: 40px;

}
.match_decoration .input-group{
	border:2px solid #2e3847;
	height:40px;
	background:#fff;
}
.match_decoration .form-control {
    border: none;
	height:40px;
}
.footer_navigation ul{
	text-align:center;
	width:100%;
	margin-top:30px;
}
.footer_navigation li{
	display:inline-block;
	width:16%;
	font-size:15px;
}
.footer_navigation li a{
	color:#2e3847;
	font-weight:500;
}
.contact_us h4{
	color: #2e3847;
	font-size: 18px;
	text-transform: none;
	font-weight: 500;
	text-align: center;
}
.contact_us a {
    display: block;
    margin: 0 auto;
    min-height: 90px;
    text-align: center;
    width: 100%;
}
.footer_social h3{
	font-size: 22px;
	color: #2e3847;
	text-transform: none;
	font-weight: bold;
	text-align: center;
	margin-bottom:5px;
}
.footer_social .social_logo li{
	display:inline-block;
	margin-right:10px;
}
.footer_social .social_logo{
	text-align:center;
}
.footer_social .social_logo li a{
	font-size: 20px;
	padding: 5px;
	color: #2e3847;
}
.footer_social p{
	font-size: 16px;
	margin-top: 34px;
}
.footer_social .search{
	font-size: 16px;
	padding: 0px;
	height: 36px;
	width: 36px;
	color: #fff;
	background: #2e3847;

}
.navigation_wrapper{
	position:fixed;
	width:90%;
	display:table;
	margin:0 auto;
	left:0;
	right:0;
	z-index:9999;
	top:10px;
}
.qustion_answer_model_wrapper .modal{
	z-index:999999 !important;
}
.modal-backdrop{
	z-index:99999;
}
.media_navigation_menu{
	text-align:right;
	margin-top:12px;
}
.media_navigation_menu .dropdown-menu{
	left:auto;
	right:0;
	padding:0;
	overflow:hidden;
}
.media_navigation_menu .dropdown-menu li a{
	padding:8px 15px;
}
.media_navigation_menu .dropdown-menu li a:hover{
	background:#3CACDA;
	color:#fff;
}
.owl-dots,.owl-dot .active span{
	display:none !important;
}
.owl-carousel{
	position:relative;
}
.owl-nav{
	position: absolute;
	top: 50%;
	margin-top: -58px !important;
	width:100%;
}
.owl-prev,.owl-next{
	position:absolute;
}
.owl-prev{
	left:0;
}
.owl-next{
	right:0;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}
.match_decoration > h1{
	font-weight:bold;
}
.owl-carousel .owl-item img {
    display: table;
    width: 80px;
	margin:0 auto;
}
.footer_wrapper{
	position:absolute;
	bottom:0;
	width:100%;
}
.only_footer_margin{
	margin-top:60px;
}
.post_a_query{
	text-transform: uppercase;
	color: #fff;
	border-radius: 30px;
	background: #3cacda;
	border:none;
	padding:5px 15px;
	font-size:16px;
	margin:10px auto;
}



@media (min-width:320px) and (max-width:767px)
{
.navigation_wrapper {
    position: relative;
    width: 100%;
	top:0;
}
.logo a svg {
    width: 150px;
    height: 50px;
}
.comment_box img,.cartoon_boy img{
	width:80px;
	height:50px;
}
.comment_box img{
	height: 50px;
    width: 50px;
}
.margin_top_60{
	margin-top:0;
}
.why_pedagoge h2 {
    min-height: auto;
}
.h1_heading h2{
	font-size:16px;
}
.post_match_learn{
	margin-top:0;
}
.h1_heading h1{
	margin-bottom:10px;
}
#page1, #page2, #page3{
	background-image:none;
}
.answer_all_question figcaption{
	right: 114px;
	width: 40px;
	height: 40px;
	top: 4px;
}
.answer_all_question figcaption p{
	font-size:5px;
}
.answer_all_question,.answer_all_question figure{
    position: relative;
    bottom: 0;
	float:right;
}
.comment_box img {
    height: 50px;
    width: 50px;
}
.cartoon_boy img {
    width: 80px;
    height: 50px;
}
.post_match_learn figure {
    display: table;
    margin: 15px auto;
	width:100%;
}
.match_decoration p {
    margin-top: 0;
}
.match_decoration h1{
	margin-top:15px;
	font-size:16px;
}
.footer_navigation li{
	width:49%;
}
.footer_social h3 {
    font-size: 18px;
    margin: 10px auto;
}
.footer_social {
    margin-bottom: 15px;
}
.contact_us h4{
	margin:0 auto;
}
.footer_social p {
    margin-top: 0;
}
#page1, #page2, #page3{
	min-height:auto;
}
.second_part_cartoon,.qustion_answer .model_boy img{
	display:none;
}
.qustion_answer p {
    float: none;
    font-size: 13px;
    line-height: 24px;
    margin-right: 0;
    margin-top: 10%;
    width: 90%;
}
.second_part {
    width: 94%;
    float: none;
}
button.accordion {
    font-size: 11px;
    padding: 3px 8px;
}
.qustion_answer h3{
	font-size:15px;
}
body{
	background-image:none;
}
.owl-carousel .owl-item img {
    display: table;
    margin: 0 auto;
    width: 80px;
}
.footer_wrapper{
	position:relative;
}

}
@media (min-width:480px) and (max-width:767px)
{
.navigation_wrapper {
    position: relative;
    width: 100%;
	top:0;
}
.logo a svg {
    width: 150px;
    height: 50px;
}
.h1_heading h3 {
    font-size: 18px;
}
.h1_heading h2{
	font-size:14px;
}
.qustion_answer p {
    width: 95%;
	display:table;
	margin:25% auto 0;
}
.second_part {
    width: 96%;
    float: none;
}
button.accordion {
    font-size: 13px;
    padding: 3px 8px;
}
}
@media (min-width:640px) and (max-width:767px)
{
.post_match_learn figure{
	width:100%;
}
.why_pedagoge{
	width:50%;
}
.post_match_learn {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.why_pedagoge{
	width:100%;
}
.h1_heading h2{
	font-size:12px;
}
.contact_us {
    width: 50%;
    margin-top: 20px;
}
.footer_navigation li {
    width: 16%;
    font-size: 13px;
}
.h1_heading h3{
	font-size:15px;
}
.qustion_answer p {
    width: 97%;
	display:table;
	margin:15% auto 0;
}
.second_part {
    width: 98%;
}
button.accordion {
    font-size: 16px;
    padding: 5px 8px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.navigation_wrapper {
    position: relative;
	width: 100%;
	padding: 10px 0;
	top:0;
}
.logo a svg {
    width: 180px;
    height: 50px;
}
.site-navigation li a {
    font-size: 16px;
    padding: 5px 10px;
}
.main-menu-section{
	margin-top:12px;
}
body{
	background-image:none;
}
.footer_wrapper{
	position:relative;
}
}
@media (min-width:768px) and (max-width:959px)
{
.post_match_learn figure {
    width: 100%;
}
.margin_top_60{
	margin-top:0;
}
#page1, #page2, #page3{
	min-height:auto;
	background-image:none;
}
.answer_all_question {
    position: relative;
    bottom: -5px;
}
.answer_all_question figure {
    position: relative;
    float: right;
}
.footer_navigation li {
    font-size: 13px;
}
.footer_social{
	margin-top:40px;
}
.h1_heading h1{
	font-size:20px;
}
}
@media (min-width:960px) and (max-width:1023px)
{
#page1, #page2, #page3{
	min-height:auto;
	background-image:none;
}
.answer_all_question {
    position: relative;
    bottom: -5px;
}
.answer_all_question figure {
    position: relative;
    float: right;
}
.footer_wrapper {
    margin-bottom: 20px;
}
.navigation_wrapper {
    width: 100%;
    background: #fff;
    padding: 5px 0;
	top:0;
    box-shadow: 0 1px 2px #ccc;
}
.main-menu-section{
	margin-top:10px;
}
.footer_social{
	margin-top:20px;
}
.footer_wrapper{
	position:relative;
}
}
@media (min-width:1700px) and (max-width:1920px)
{
.post_match_learn img {
    width: 120px;
    height: 120px;
}
.post_match_learn p{
    font-size: 16px;
    color: #2e3847;
}
.h1_heading h1{
	font-size:28px;
	margin:40px auto;
}
.h1_heading h2 {
    font-size: 32px;
    font-weight: normal;
}
.h1_heading h3 {
    font-size: 23px;
    font-weight: normal;
}
.match_decoration p {
    font-size: 18px;
}
.footer_navigation li a{
	font-size:16px;
}
.contact_us h4{
	font-size:19px;
}
.footer_social p {
    font-size: 19px;
}
.footer_social .social_logo li a{
	font-size:24px;
}
.footer_navigation{
	margin-top:150px;
}
.post_match_learn .svg_holder,.match_decoration .logo_holder{
    height: 180px;
    width: 180px;
}
.post_match_learn .svg_holder img{
    height: 120px !important;
    width: 120px !important;
}
.footer_navigation ul{
	margin-top:50px;
}
.footer_navigation {
    margin-top: 100px;
}
}
@media (min-width: 1024px) and (max-width:1360px) {

.first-panel-vm{ float:left; max-height:450px; position:absolute; top:50%; transition: -webkit-transform; transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%); }
.second-panel-vm{max-height: 740px; top: 50%; transition: -webkit-transform;  transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%); position: absolute; left: 0; width: 100%;}
.third-panel-vm{max-height:500px; position:absolute; top:50%; transition: -webkit-transform; transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%);}

  .lead {
    font-size: 24px;
  }
  .margin_top_60{
	  margin-top:0;
  }
  .answer_all_question figure{
	right: 54px;
	}
	
}
@media (min-width: 1400px) and (max-width:1919px) {

.first-panel-vm{ float:left; max-height:450px; position:absolute; top:50%; transition: -webkit-transform; transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%); }
.second-panel-vm{max-height: 740px; top: 50%; transition: -webkit-transform;  transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%); position: absolute; left: 0; width: 100%;}
.third-panel-vm{max-height:500px; position:absolute; top:50%; transition: -webkit-transform; transform:translateY(-50%); -webkit-transorm:translateY(-50%); -moz-transorm:translateY(-50%); -ms-transorm:translateY(-50%); -o-transorm:translateY(-50%);}

  .lead {
    font-size: 24px;
  }
  .margin_top_60{
	  margin-top:0;
  }
  .answer_all_question figure{
	right: 54px;
	}
}

@media (min-width: 1024px) and (max-width:1360px) {
	.only_footer_margin{
	margin-top:120px;
}
}





/* Special Responsive */

/*@media (min-width:1024px) and (max-width:1360px)
{
.container,.container,.container{
	display:table-cell;
	vertical-align:middle;
}

#page1,#page3,#page2{
  display:table;
}
#page1 .margin_top_60,#page3 .margin_top_60,#page2 .margin_top_60{
	margin-top:0;
}

}
@media (min-width:1400px) and (max-width:1919px)
{
#page1 > .container,#page3 > .container,#page2 > .container{
	display:table-cell;
	vertical-align:middle;
}

#page1,#page3,#page2{
  display:table;
}
#page1 .margin_top_60,#page3 .margin_top_60,#page2 .margin_top_60{
	margin-top:0;
}
}
*/

/* Special REsponsive */