
.main-menu-section {
	position: relative;
	/*background: #ffffff;
	background: rgba(255, 255, 255, 0.80);*/
	font-family: 'Quicksand', sans-serif;
	margin-top:15px;
}

.main-menu-section > div {
	position: relative;
}

.site-navigation ul {
	list-style: none;
	font-size: 14px;
	margin: 0;
	float:right;
}

.site-navigation ul li {
	position: relative;
	display: inline-block;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.site-navigation > ul li:hover {
	/*border-bottom:2px solid #000;*/
}
.site-navigation li a::before {
    background-color: #3cacda;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
.site-navigation li a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}
.site-navigation li:last-child a:hover::before {
 	transform: scaleX(0);
    visibility: hidden;
}

.site-navigation li a {
 	color:#000;
    display: block;
    font-size: 16px;
    padding:5px 15px;
    text-decoration: none;
    text-transform: capitalize;
}
.site-navigation li:last-child a {
 	text-transform:uppercase;
	color:#fff;
	border-radius:30px;
	background:#3cacda;
}

/*.site-navigation li a:hover {
	color:#fff;
	background:#D7232D;
}*/

.site-navigation ul.sub-menu {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	width: auto;
	min-width: 200px;
	z-index: 99999 !important;
	/*background: #ffffff;*/
	background:rgba(239,4,4,0.3);
} 
.site-navigation ul.sub-menu a{
	color:#fff;
	}
.site-navigation ul.sub-menu a::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
.site-navigation ul.sub-menu a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}	
	
	

.site-navigation ul > li ul.sub-menu {
	border-top: 1px solid #bfc6cd;
}

.site-navigation li:hover > ul.sub-menu {
	display: block;
	-moz-animation: bounceIn 0.2s;
	-webkit-animation: bounceIn 0.2s;
	animation: bounceIn 0.2s;
}

.site-navigation ul.sub-menu li {
	width: 100%;
	border-top: 1px solid #bfc6cd;
}

.site-navigation ul.sub-menu li:first-child {
	border: 0;
}

.site-navigation ul.sub-menu li:hover {/*
	background: #fafafa;*/
}

.site-navigation ul.sub-menu ul.sub-menu {
	left: 200px;
	top: 0;
}

.sub-menu li a{
	font-size:11px;
	}

a.meanmenu-reveal {
	display: none;
	left: 0!important;
	right: auto!important;
}

.mean-container .mean-bar {
	position: relative;
	min-height: 42px;
	z-index: 80;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #3cacda;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	box-sizing:initial;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #3cacda;
	height: 3px;
	margin-top: 3px;
	box-sizing:unset !important;
}

.mean-container .mean-nav {
	width: 100%;
	padding-top: 50px;
	overflow: hidden;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 100%;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	color: #000;
	border-top: 1px solid #bfc6cd;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 100%;
	padding: 14px 40px;
	border-top: 1px solid #bfc6cd;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 100%;
	padding: 14px 60px;
}

.mean-container .mean-nav ul li li li li a {
	width: 100%;
	padding: 14px 80px;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 14px 100px;
}

.mean-container .mean-nav ul li a:hover {
	color: #3cacda;
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 25px;
	height: 25px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: none;
	border: none;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #886701;
	color: #ffffff;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-container .search-form {
	right: 20px;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

