body, html {
    background: url('../images/pattern.svg');
    background-size: 500px;
}

@font-face {
    font-family: facebookletterface;
    src: url('../fonts/facebookletterface/FACEBOLF.OTF');
}

section.section-top h1.main-heading {
    font-family: 'facebookletterface', sans-serif;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

section.section-top h1.main-heading span {
    display: block;
    text-align: right;
}

section.section-top .telescope-guy-wrapper img {
    width: 45%;
    position: absolute;
    left: 0;
    bottom: -0.50em;
}

section.section-top {
    position: relative;
}

section .heading-section.padding-fix {
    padding: 0 10px 0 0;
}

section.section-top.background-color {
    background: rgba(140, 36, 35, 0.9) !important;
}

section.section-aboutus .background-color {
    background-size: contain;
    background: rgba(15, 44, 58, 0.95) url(../images/homepage_bg.jpg) no-repeat;
    opacity: 0.95;
}

section.section-founders .founders-slider-top-block.background-color {
    background: rgb(34, 7, 26);
}

section.section-founders .founders-slider-bottom-block.background-color {
    background: rgb(255, 196, 70);
    opacity: 0.9;
}

section.section-stats.background-color {
    background: rgb(14, 45, 56);
    opacity: 0.97;
}

section.section-founders a.carousel-control {
    background: none;
}

section.section-founders .item .item-name {
    color: rgb(255, 196, 70);
}

section.heading-section .heading-block h2.sub-heading {
    color: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    float: right;
    line-height: 7vh;
}

section .heading-block .sub-heading-wrapper {
    padding: 5px 10px 5px 0;
}

.blue-face-btn {
    background: #3b5999;
}

footer {

}

p.text-black {
    color: #333 !important;
}

/*Large screen*/
@media all and (min-width: 1330px) {
    section.section-top h1.main-heading {
        font-size: 175px !important;
    }

    section.section-top .telescope-guy-wrapper img {
        max-width: 500px !important;
        width: 30%;
    }

    section.section-founders .founders-quote {
        padding: 40px 200px 0 200px !important;
        font-size: 20px !important;
    }

    section.section-founders .founders-slider-bottom-block p.item-desc {
        padding: 40px 150px 40px 150px !important;
    }

    section.section-stats img {
        max-width: 275px !important;
    }

    section.section-stats p.item-count {
        font-size: 90px !important;
        line-height: 90px !important;
    }

    section.section-stats p.item-desc {
        font-size: 18px !important;
    }
}

/*medium and large*/
@media all and (min-width: 992px) {
    section.section-top h1.main-heading {
        font-size: 145px;
    }

    section.heading-section .heading-block h2.sub-heading {
        font-size: 40px;
    }

    section.section-aboutus .contents-block.padding-fix {
        padding: 35px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-name {
        font-size: 35px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-phonetics {
        font-size: 35px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-desc {
        font-size: 34px;
    }

    section.section-aboutus .contents-block .content-wrapper .item-body {
        font-size: 20px;
    }

    section.section-founders .founders-quote {
        padding: 40px 100px 0 100px;
        font-size: 20px;
    }

    section.section-founders .item .item-name {
        padding: 0 0 45px 0;
    }

    section.section-founders img {
        max-width: 300px;
        width: 90%;
        height: auto;
    }

    section.section-founders .founders-slider-bottom-block p.item-desc {
        font-size: 20px;
        padding: 20px 100px 20px 100px;
    }

    section.section-stats.padding-fix {
        padding: 40px 0 15px 0;
    }

    section.section-stats img {
        max-width: 250px;
        width: 90%;
        height: auto;
    }

    section.section-stats p.item-count {
        font-size: 80px;
        line-height: 80px;
    }

    section.section-stats p.item-desc {
        font-size: 16px !important;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    section.section-top h1.main-heading span.clean-text {
        position: relative;
        bottom: -0.33em;
    }

    section.section-top.padding-fix {
        padding: 0 0 0 0;
        min-height: 600px;
        height: 100vh;
    }

    section.section-top h1.main-heading {
        position: absolute;
        bottom: 0;
        right: 10px;
        padding: 0 50px 0 0;
    }

    section.section-top .telescope-guy-wrapper img {
        max-width: 350px;
        width: 30%;
    }
}

/*only tablet*/
@media all and (min-width: 768px) and (max-width: 991px) {
    section.section-top h1.main-heading {
        font-size: 15vmin;
        font-size: 15vm;
    }

    section.section-aboutus .contents-block.padding-fix {
        padding: 20px;
    }

    section.section-founders img {
        max-width: 220px;
        width: 90%;
        height: auto;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-name {
        font-size: 20px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-phonetics {
        font-size: 20px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-desc {
        font-size: 19px;
    }

    section.section-aboutus .contents-block .content-wrapper .item-body {
        font-size: 18px;
    }

    section.section-founders .founders-slider-bottom-block p.item-desc {
        font-size: 18px;
        padding: 20px 40px 20px 40px;
    }

    section.section-founders .founders-quote {
        padding: 20px 60px 0 60px;
        font-size: 18px;
    }

    section.section-founders .item .item-name {
        padding: 0 0 45px 0;
    }

    section.section-stats.padding-fix {
        padding: 30px 0 15px 0;
    }

    section.section-stats img {
        max-width: 200px;
        width: 90%;
        height: auto;
    }

    section.section-stats p.item-count {
        font-size: 70px;
        line-height: 70px;
    }
}

/*smartphone, not tablet*/
@media all and (max-width: 767px) {
    nav.navbar.bg-color {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    section.section-top {
        height: auto;
    }

    section.section-top.padding-fix {
        padding: 0 0 0 0;
        min-height: 300px;
        height: 100vh;
    }

    section.section-top .telescope-guy-wrapper img {
        display: none;
    }

    section.section-top h1.main-heading span {
        text-align: center;
    }

    section.section-top h1.main-heading {
        font-size: 16vmin;
        font-size: 16vm;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-name {
        font-size: 19px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-phonetics {
        font-size: 19px;
    }

    section.section-aboutus .contents-block .dictionary-wrapper .item-desc {
        font-size: 17px;
    }

    section.section-aboutus .contents-block .content-wrapper .item-body {
        font-size: 16px;
    }

    section .heading-block h2.sub-heading {
        font-size: 24px;
    }

    section.section-aboutus .contents-block.padding-fix {
        padding: 15px;
    }

    section.section-founders .slide-wrapper img, section.section-founders .slide-wrapper img {
        max-width: 250px;
        width: 90%;
        height: auto;
    }

    section.section-founders .fp-controlArrow {
        margin-top: auto !important;
    }

    section.section-founders .fp-controlArrow.fp-next {
        border-width: 12px 12px 12px 12px;
    }

    section.section-founders .fp-controlArrow.fp-prev {
        border-width: 12px 12px 12px 12px;
    }

    section.section-founders .founders-slider-bottom-block p.item-desc {
        font-size: 16px;
        padding: 20px 0 10px 0;
    }

    section.section-founders .founders-quote {
        font-size: 16px;
        padding: 20px 20px 0 20px;
    }

    section.section-founders .item .item-name {
        padding: 0 0 35px 0;
    }

    section.section-stats.padding-fix {
        padding: 15px 0 15px 0;
    }

    section.section-stats img {
        max-width: 150px;
        width: 90%;
        height: auto;
    }

    section.section-stats p.item-count {
        font-size: 70px;
        line-height: 50px;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {

}

