body, html {
    background: #0f222d;
}

@font-face {
    font-family: facebookletterface;
    src: url('../fonts/facebookletterface/FACEBOLF.OTF');
}

main.padding-fix {
    padding-bottom: 30px;
}

a.register_as_trainer {
    text-decoration: underline;
}

button.start_search {
    display: none;
}

section.section-top #bigtext {
    font-family: 'facebookletterface', sans-serif;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

section.section-top #bigtext {
    text-transform: uppercase;
    line-height: 1;
}

section.section-top #bigtext .bigtext-line0 {
    line-height: 1.3;
}

section.section-top #bigtext .bigtext-line1 {
    line-height: 0.74;
}

section.section-top #bigtext .bigtext-line2 {
    line-height: 0.74;
}

section.section-top .post-req-wrapper.background-color, section.section-xs-institution-callback-form .post-req-wrapper.background-color {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=225, Color=#000000)"; /*IE 8*/
    -moz-box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.5); /*FF 3.5+*/
    -webkit-box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.5); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.5); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color=#000000); /*IE 5.5-7*/
    background: white;
    padding: 10px;
}

section.section-why-work-withus .item-wrapper.padding-fix {
    padding: 20px 0 0 0;
}

section.section-why-work-withus .content-wrapper img, section.section-what-we-do .content-wrapper img {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

section.section-top .post-req-wrapper.padding-fix, section.section-xs-institution-callback-form .post-req-wrapper.padding-fix {
    padding: 20px 20px 5px 20px;
}

section.section-top .post-req-wrapper .item-title, section.section-xs-institution-callback-form .post-req-wrapper .item-title {
    padding: 10px;
}

section.section-top .content-wrapper {
    text-align: center;
}

section.section-top .content-wrapper p.item-desc {
    font-size: 17px;
}

section.section-what-we-do .content-wrapper p.item-desc {
    width: 130px;
    border-radius: 50px;
    background: #9dd8f4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px 0;
    color: #0f222d;
}

section.section-modules .panel.panel-module {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #9dd8f4;
}

section.section-modules .panel.panel-module > .panel-heading.border-bottom-fix {
    background: #9dd8f4;
    color: #0f222d;
}

section.section-modules .panel.panel-module a, section.section-modules .panel.panel-module a:focus, section.section-modules .panel.panel-module a:hover {
    color: #0f222d;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

section.section-modules .panel.panel-module .panel-heading .accordion-toggle:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    content: "\E315";
    float: right;
}

section.section-modules .panel.panel-module .panel-default .panel-heading .accordion-toggle:after {
    color: #20529b;
}

section.section-modules .panel.panel-module .panel-inverted .panel-heading .accordion-toggle:after {
    color: #ffffff;
}

section.section-modules .panel.panel-module .panel-heading .accordion-toggle.collapsed:after {
    content: "\E313";
}

section.section-modules .panel.panel-module > .panel-heading, .panel.panel-module > .panel-body {
    background-color: #0f222d;
}

section.section-modules .module_item_block_wrapper, section.section-modules .module_item_block_wrapper .item-desc, section.section-modules .module_item_block_wrapper .item-more-btn {
    padding: 10px 0;
}

section.section-modules .module_item_block_wrapper .item-more-btn {
    border-radius: 50px;
    background: #9dd8f4;
    color: #0f222d;
    cursor: pointer;
}

section.section-modules .module_item_block_wrapper .border-dotted {
    border-bottom: dotted 1px #ffffff;
    margin-top: 10px;
}

section.section-activities-students-like .content-wrapper img, section.section-activities-students-like .content-wrapper img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

section.section-activities-students-like .content-wrapper .circle-item {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px white solid;
}

section.section-activities-students-like .content-wrapper .circle-item.color1 {
    background: #bd2133;
}

section.section-activities-students-like .content-wrapper .circle-item.color2 {
    background: #764c2d;
}

section.section-activities-students-like .content-wrapper .circle-item.color3 {
    background: #f69231;
}

section.section-activities-students-like .content-wrapper .circle-item.color4 {
    background: #fef036;
}

section.section-activities-students-like .content-wrapper .circle-item.color5 {
    background: #0f673b;
}

section.section-activities-students-like .content-wrapper .circle-item.color6 {
    background: #eb423e;
}

section.section-activities-students-like .content-wrapper .circle-item.color7 {
    background: #1978ba;
}

section.section-activities-students-like .content-wrapper .circle-item.color8 {
    background: #282561;
}

.blue-face-btn {
    background: #3b5999;
}

.green-shade-2 {
    background: #18a456 !important;
}

.light-blue-shade-2 {
    background: #9dd8f4 !important;
}

footer {

}

p.text-black {
    color: #333 !important;
}

/*Large screen*/
@media all and (min-width: 1330px) {
    section.section-top #bigtext {
        font-size: 175px !important;
    }
}

/*medium and large*/
@media all and (min-width: 992px) {
    section.section-top #bigtext {
        font-size: 145px;
    }

    section.section-top .main-heading-wrapper {
        text-align: left;
        max-width: 700px;
        margin-left: 0 !important;
    }

    section.section-what-we-do .content-wrapper img {
        height: 150px;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    section.section-top #bigtext span {
        /*position: relative;*/
    }

    section.section-top.padding-fix {
        padding: 120px 0 20px 0;
        min-height: 600px;
    }

    section.section-top .main-heading-wrapper {
        text-align: center;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }

    section.section-top .content-wrapper {
        max-width: 700px;
    }

    section.section-students-speak .content-wrapper img {
        height: 200px;
        width: auto;
    }
}

/*only tablet*/
@media all and (min-width: 768px) and (max-width: 991px) {

}

/*smartphone, not tablet*/
@media all and (max-width: 767px) {
    nav.navbar.bg-color {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    section.section-top {
        height: auto;
    }

    section.section-top.padding-fix {
        padding: 120px 0 20px 0;
        min-height: 300px;
    }

    section.section-top .main-heading-wrapper {
        text-align: center;
    }

    section.section-students-speak .content-wrapper img {
        height: 100px;
        width: auto;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {

}

