body, html {
    background: url("../images/homepage_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1.main-heading {
    margin-bottom: 3px;
}

section.section-box {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    min-height: 400px;
    height: auto;
    box-shadow: 0 -15px 43px 0 rgba(0, 0, 0, 0.50), 0 30px 50px 0 rgba(0, 0, 0, 0.35)
}

section.section-box .logo-wrapper img.logo {
    height: 50px;
    width: auto;
}

section.section-box .form-group input[type=email], section.section-box .form-group input[type=password], section.section-box .form-group input[type=text], section.section-box .form-group input[type=number] {
    background: white;
    padding: 10px 0 10px 10px;
}

section.section-box .form-group select {
    background: white;
    padding: 5px 0 5px 10px;
}

section.section-box .form-group.is-focused .form-control {
    background: white;
}

section.section-box .select_user_role.margin-fix {
    margin-top: -6px !important;
}

.form-group.is-focused .checkbox label:focus, .form-group.is-focused .checkbox label:hover, .form-group.is-focused label.checkbox-inline:focus, .form-group.is-focused label.checkbox-inline:hover {
    color: rgb(255, 255, 255);
}

.form-group.is-focused .checkbox label, .form-group.is-focused label.checkbox-inline {
    color: rgb(255, 255, 255);
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
    color: rgb(255, 255, 255);
}

.checkbox .checkbox-material .check, label.checkbox-inline .checkbox-material .check {
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.cmd_login, .light-green-btn-shade {
    background: #00a652;
}

.cmd_show_register_form, .dark-green-btn-shade {
    background: #017865;
}

.div_login_signup p.dont-have-account {
    font-size: 17px;
}

a.cmd_login_forgot_password {
    color: #46869d;
    font-weight: bold;
}

.red-goog-btn {
    background: #dc4e42;
}

.blue-face-btn {
    background: #3b5999;
}

footer {
    /*display: none;*/
}

p.text-black {
    color: #333 !important;
}

#div_pass_reset_result.padding-fix {
    padding-top: 10px;
}

@media all and (max-width: 1036px) {
    .body-container {
        /*min-width: 1036px;*/
    }
}

/*medium and large*/
@media all and (min-width: 992px) {
    main.padding-fix {
        padding: 70px 120px 30px 120px;
        max-width: 900px;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    h1.main-heading {
        font-size: 30px;
        line-height: 30px;
    }

    section.section-box {
        padding: 20px 30px;
    }

    main.padding-fix {
        min-height: 79vh;
    }
}

/*only tablet*/
@media all and (min-width: 767px) and (max-width: 991px) {
    main.padding-fix {
        padding: 70px 120px 30px 120px;
        max-width: 900px;
    }
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    main.padding-fix {
        padding: 90px 10px 10px 10px;
    }

    h3.sub-heading {
        font-size: 18px;
        color: #3c6b89;
    }

    h1.main-heading {
        font-size: 21px;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {

}

