.other-filters-search-card-wrapper.fixedWidthStyle:not(:target) {
    width: 242px;
}

.other-filters-search-card-wrapper.fullWidthStyle:not(:target) {
    width: 100%;
}

.other-filters-search-card-wrapper.sideScroll:not(:target) {
    position: fixed;
    left: 0;
    min-height: 100%;
}

.other-filters-search-card-wrapper.mobileScroll:not(:target) {
    position: static !important;
    top: auto !important;
    bottom: auto !important;
    width: 100% !important;
}

.other-filters-search-card-wrapper.bottom {
    position: absolute;
    bottom: 356px;
}

.wrapper_filter_panels:not(:target) {
    padding-left: 4px;
}

.result-area-wrapper {
    min-height: 600px;
}

.main-wrapper {
    padding-top: 20px;
    position: relative;
}

.search_result_profile_view_button {
    width: 100px;
}

.search_result_profile_view_button.desktop {
    width: 125px;
}

.search_result_profile_view_button.desktop, .search_result_item_req_call.desktop {
    display: block;
    clear: both;
    float: right;
}

.search_result_item .profile_data_img_thumbnail {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.search_result_item .profile_data_img_thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search_result_item .profile_data_img_thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.load-more-wrapper {
    margin-bottom: 0;
}

.selectize-dropdown, .selectize-input, .selectize-input {
    line-height: 14px;
}

.search-ribbon-card .item-title {
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    background: #42acd8;
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    .result-area-wrapper.margin-adjust {
        padding-right: 0;
        padding-left: 0;
    }
}

/*upto tablet*/
@media all and (max-width: 991px) {
    .show_on_search, .hide-footer {
        display: none;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {

}