.contentpanel-body {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-filter-typeoflocation {
    position: fixed;
    top: 57px;
    background: #ffffff;
    width: 100%;
    height: 45px;
    z-index: 1020;
}

.search-filter-typeoflocation .form-group {
    margin-top: 0;
}

.search-filter-typeoflocation label {
    font-size: 10px !important;
    padding-right: 9px;
}

.heading_sort_panel_margin_fix {
    margin-top: -2px !important;
}

.sort_panel_margin_fix {
    padding: 15px 0 5px 10px !important;
}

.search-filter-typeoflocation .form-group .checkbox label {
    color: rgba(0, 0, 0, 0.6);
}

.search-filter-typeoflocation .form-group.is-focused .checkbox label {
    color: rgba(0, 0, 0, 0.9);
}

.search_result_main.padding-top-filter.desktop {
    padding-top: 25px;
}

.search_result_main.padding-top-filter.desktop .sidebar.other-filters-search-card-wrapper {
    /*padding-top: 10px;*/
}

.search_result_item {
    padding: 4px 0 4px 4px;
}

.search_result_noitem_cards {
    padding: 15px;
}

.search_result_item_rating {
    margin-top: 4px;
    float: right;
}

.search_result_item_rating_wrapper {
    text-align: right !important
}

.star_count_wrapper {
    margin-top: 5px;
}

.search_result_item_recommend_wrapper .recommendations_count, .search_result_item .item {
    color: rgba(32, 82, 155, 0.9);
}

.search_result_item_recommend {
    font-size: 12px;
    white-space: nowrap;
    padding-top: 0;
    color: #333333;
}

.search_result_item .item-desc {
    color: #757575;
}

.search_result_profile_view_button {
    background-color: rgba(16, 122, 171, 0.8) !important;
    color: #ffffff !important;
    padding: 5px 13px !important;
    font-size: 10px !important;
    margin-top: 6px;
    margin-right: -15px;
}

.search_result_profile_view_button.mobile {
    padding: 7px 13px !important;
    font-size: 9px !important;
    width: 118px;
    height: 27px;
    font-weight: bold;
}

.search_result_profile_view_button.desktop {
    font-size: 11px !important;
    font-weight: bold;
}

.search_result_item_req_call {
    padding: 9px 0 !important;
    margin-top: 6px;
    margin-bottom: 0;
    color: #ffffff !important;
    width: 100px;
    font-size: 8px !important;
    background: #245971 !important;
}

.search_result_item_req_call.mobile {
    padding: 7px 0 !important;
    width: 118px;
    height: 27px;
    font-size: 9px !important;
}

.search_result_item_req_call.desktop {
    width: 125px;
    margin-right: -15px;
    font-size: 10px !important;
}

.search_result_item_block .comma-seperated span {
    display: inline;
}

.search_result_item_block .comma-seperated span:before {
    content: ", "
}

.search_result_item_block .comma-seperated span:first-child:before {
    content: ""
}

.search_result_load_more_button {
    color: #fff !important;
}

.load-more-wrapper {
    margin-bottom: 40px;
}

.other-filters-search-card-wrapper label {
    margin-bottom: 10px;
}

.other-filters-search-card-wrapper .form-group.is-focused label.checkbox-inline, .other-filters-search-card-wrapper .form-group label {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 13px;
}

.other-filters-search-card-wrapper label.checkbox-inline .checkbox-material .check {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.other-filters-search-card-wrapper .form-group {
    padding: 10px;
}

.other-filters-search-card-wrapper .form-group label {
    margin-bottom: 10px;
    width: 100%;
}

.other-filters-search-card-wrapper .panel-heading .accordion-toggle:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    content: "\E315";
    float: right;
}

.other-filters-search-card-wrapper .panel-default .panel-heading .accordion-toggle:after {
    color: #20529b;
}

.other-filters-search-card-wrapper .panel-inverted .panel-heading .accordion-toggle:after {
    color: #ffffff;
}

.other-filters-search-card-wrapper .panel-heading .accordion-toggle.collapsed:after {
    content: "\E313";
}

.other-filters-search-card-wrapper a.accordion-toggle, .other-filters-search-card-wrapper a:focus.accordion-toggle, .other-filters-search-card-wrapper a:hover.accordion-toggle {
    color: #ffe4dc !important;
    text-decoration: none !important;
}

.other-filters-search-card-wrapper .panel-heading {
    cursor: pointer;
}

.other-filters-search-card-wrapper .panel-title a {
    display: block;
    padding: 10px 10px;
    margin: -10px -15px;
}

.other-filters-search-card-wrapper .panel-body {
    padding: 0 !important;
    background-color: #eeeeee;
}

.other-filters-search-card-wrapper #content_filter_teacher_search.panel-body {
    padding: 0 0 25px 0 !important;
    background-color: #eeeeee;
}

.other-filters-search-card-wrapper #content_filter_teacher_search.panel-body .form-group {
    padding: 0 10px;
}

.other-filters-search-card-wrapper .panel-default > .panel-heading {
    background-color: #ffffff !important;
}

.other-filters-search-card-wrapper .panel-default h4.panel-title a {
    color: rgba(32, 82, 155, 0.7) !important;
    font-weight: bold;
}

.other-filters-search-card-wrapper .panel-inverted > .panel-heading {
    background-color: #20529B !important;
}

.other-filters-search-card-wrapper .panel-inverted h4.panel-title a {
    color: rgba(250, 250, 250, 0.9) !important;
    font-weight: bold;
}

.search_result_item_place_wrapper {
    margin-top: 5px;
    display: inline-block;
}

.search_result_item_place_wrapper img {
    width: 25px;
    height: auto;
}

.search_result_item_place_wrapper .popover {
    right: 0 !important;
}

.result-area-wrapper .search_result_noitem_cards img {
    max-width: 150px;
    width: 20%;
    height: auto;
}

.search_result_noitem_cards.mobile img {
    width: 150px;
}

.search_result_noitem_cards .row.padding-fix {
    padding: 10px;
}

.filter-bottom-wrapper {
    height: 40px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.95);
    -moz-box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.95);
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.95);
    background: rgb(227, 227, 227) !important;
}

.filter-wrapper a {
    text-decoration: none !important;
    cursor: pointer;
    font-weight: bold;
}

.filter-wrapper a, .filter-wrapper a:focus, .filter-wrapper a:hover {
    text-decoration: none !important;
    cursor: pointer;
    font-weight: bold;
    color: #212121;
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    .search_result_item_rating img {
        height: 9px;
        line-height: 9px;
        width: auto;
    }

    .recommendations_count {
        font-size: 14px;
    }
}

/*upto tablet*/
@media all and (max-width: 991px) {

}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    .search_result_item_rating img {
        height: 11px;
        line-height: 11px;
    }

    .recommendations_count {
        font-size: 16px;
    }
}