section.section-info {
    border: 1px solid rgba(0, 0, 0, 0.23);
}


/*medium and large*/
@media all and (min-width: 992px) {
    main.padding-fix {
        padding: 30px 120px;
        max-width: 1430px;
        min-height: 564px;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    h1.main-heading {
        font-size: 30px;
        line-height: 30px;
    }

    section.section-info {
        padding: 0 0 20px 10px;
    }
}

/*only tablet*/
@media all and (min-width: 767px) and (max-width: 991px) {
    main.padding-fix {
        padding: 30px 20px;
        max-width: 991px;
        min-height: 564px;
    }
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    h3.sub-heading {
        font-size: 18px;
        color: #3c6b89;
    }

    h1.main-heading {
        font-size: 21px;
        color: #3c6b89;
    }

    section.section-info {
        margin: 10px;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {
}