
.scroller{
	bottom:5%;
}
.mobileview1{
	margin-top:-20%;
	height:80px;
	width:300px;
}
.home-text p{
	font-size: 19px;
	margin-bottom:5px;
}
.scroller{
	bottom:5%;
}
.home{
	
	height:87%;
}

#return-to-top {
	z-index:999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #20ac94;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
	z-index:999;
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color:#3a8b7d;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
.color_green{
	background-color:#f25656;
}
.color_green:hover{
	background-color:#e04e66;
	transition:all .3s linear;
}

@media screen and (max-width : 1300px){
	.lead{
		display:none;
	}
}
.lead{
	margin-bottom:-1px;
}
/*PRELOADING IMAGING USING CSS */
@media screen and (max-width: 1037px) and (min-width : 997px){
	.color_green{
		margin-top:10px;
	}
}