.icon_timeline {
	margin-top:-6px;
}

.parallax-window-height {
	min-height: 300px;
	background: rgba(34,186,160,0.7);
	color: white;
}

.parallax-window2 {
	min-height: 400px;
	background: rgba(34,186,160,0.7);
	color: white;
}

.parallax-window1
{
	min-height: 400px;
	background: rgba(34,186,160,0.7);
	color: white;
}

.navbar ul li a {
	color: black !important;
	background: transparent;
}


.guardianbg{
	cursor:pointer;
	background:url('../images/guardianwhite.png') no-repeat; height:100px; background-position: center;
	background-size:100px 100px; 
}

.guardianbg:hover{
	cursor:pointer;
	height:100px; 
	background-position: center;
	background-size:110px 110px;
	transition:all 0.5s ;
	-webkit-transition:all 0.5s ;
	-o-transition:all 0.5s ;
	-moz-transition:all 0.5s ; 
}

.teacherbg{
	cursor:pointer;
	background:url('../images/studentwhite.png') no-repeat; height:100px; background-position: center; 
	background-size:100px 100px;
}

.teacherbg:hover{
	cursor:pointer;
	height:100px; 
	background-position: center;
	background-size:110px 110px;
	transition:all 0.5s ;
	-webkit-transition:all 0.5s ;
	-o-transition:all 0.5s ;
	-moz-transition:all 0.5s ;
}

.studentbg{
	cursor:pointer;
	background:url('../images/teacherwhite.png') no-repeat; height:100px; background-position: center; 
	background-size:100px 100px;
}

.studentbg:hover{
	cursor:pointer;
	height:100px; 
	background-position: center;
	background-size:110px 110px;
	transition:all 0.5s ;
	-webkit-transition:all 0.5s ;
	-o-transition:all 0.5s ;
	-moz-transition:all 0.5s ; 
}

@media screen and (max-width : 768px) {
	.invertmobileview1{
		display: none;
	}
}

@media screen and (min-width : 768px){
	.invertmobileview{
		display: none;
	}
}


.formError{
	left: 16px !important;
}