#upload .upload{
	font-family:verdana;
}
#thumbnail{
	float:left;
}
#thumb_preview_holder{
	float:left;
	width:156px;
	height:156px;
	overflow:hidden;
	margin-left:10px;
	margin-top:20px;
}
#save_thumb{
	margin-top:30px;
}
#upload1 .upload1{
	font-family:verdana;
}
#thumbnail1{
	float:left;
}
#thumb_preview_holder1{
	float:left;
	width:156px;
	height:156px;
	overflow:hidden;
	margin-left:10px;
	margin-top:20px;
}
#save_thumb1{
	margin-top:30px;
}

#benefits {
	text-align: justify;
}

.formError{
	left: 16px !important;
}

.scrollup_nav {
	top: 8px; 
	right: 30px; 
	position: fixed; 
	color: green; 
	z-index: 999;
}


.pedagoge_logo_img {
	margin-top:0%;
}
