@media (max-width: 991px) {
    .select2-container .select2-selection--single{
        height:55px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        height:55px !important;
    }
    .input-lg{
        margin-top: 10px;
        height: 55px !important;
    }
}