.margin-15 {
    margin-top: 15px;
}

.text-black {
    color: #000000 !important;
    font-size: 15px;
}

.embed-heading{
    font-family: 'Nothing You Could Do', cursive;
}

.text-muted {
     color: #000000 !important;
}