.arrow, .header, .slide {
    text-align: center
}

.card, .slide, .slider {
    float: left
}

.card, .row::after, .slide, .slideWrapper, .slider {
    display: block
}

.header, .tile {
    background: no-repeat center;
}

.slideOuter {
    cursor: pointer
}

.opCard a {
    color: #337ab7;
    font-weight: bold;
}

.opCard, .slideWrapper, .slider {
    overflow: hidden
}

.btn-careeers, .header {

}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.header-careers {
    background: #000 url(../img/slider/slider_music.jpg);
    color: #fff;
    padding: 130px 15px;
    font-size: 40px;
    text-align: center;
    min-height: 300px;
    font-weight: bold;
}

.titlePadding {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color: #fff;
    padding-left: 20px;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.titlePadding h1 {
    font-weight: bold !important;
}

.joinHeader {
    background-color: #1D9E74
}

.jobHeader, .joinHeader {
    padding-left: 0 !important;
}

.text-center {
    text-align: center;
}

.perkHeader {
    background-color: #373448
}

.jobHeader {
    background-color: #b14341
}

.slideOuter {
    width: 100%;
    height: auto;
    position: relative
}

.slideOuter .left {
    left: 0
}

.slideOuter .right {
    right: 0
}

.arrow {
    width: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 80px;
    padding-top: 12px;
    color: #fff;
    z-index: 1
}

.slideWrapper {
    width: 300px;
    height: auto;
    background-color: #fff;
    float: left;
    position: relative
}

.slider {
    width: 1610px;
    max-height: 200px
}

.slide {
    width: 200px;
    height: 200px;
    padding: 10px 0 10px 10px
}

.card, .opWrapper {
    padding: 10px
}

.card {
    width: 100%;
    height: 172px;
    font-size: 12px;
    color: #666;
    text-shadow: 0 -.1px 0 rgba(0, 0, 0, .5);
    line-height: 17px;
    text-align: left;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24)
}

.slide .center, .tileblockinner, h1 {
    text-align: center;
}

.tileblockouter {
    color: #fff;
    margin-bottom: 7px;
}

.tileblockinner {
    color: #fff;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    height: 250px;
    margin-right: -1px;
}

.tileblockinner:hover {
    -webkit-filter: none;
    filter: none;
}

.tileblockinner .para {
    text-align: justify;
    padding: 10px;
    line-height: 28px;
}

.btn-careeers, .btn-careeersWrapper, .footer {
    text-align: center;
}

.tile {
    background-blend-mode: multiply;
}

.t1 {
    background: #c3a07d url(../img/careers/learn.jpg) no-repeat;
}

.t2 {
    background: #539dae url(../img/careers/create.jpg) no-repeat;
}

.t3 {
    background: #cd644d url(../img/careers/explore.jpg) no-repeat;
}

.t4 {
    background: #739e78 url(../img/careers/fun.jpg) no-repeat;
}

.opCard, .opWrapper {
    background-color: #fff;
}

.titleWrapper {
    color: #353535;
    font-weight: bold;
}

.opCard {
    width: 100%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24);
    border-radius: 4px;
}

.opCardHeader:hover {
    cursor: pointer;
}

.opCardHeader {
    width: 100%;
    height: 50px;
    padding-top: 16px;
    color: #fff;
    padding-left: 10px;
}

.opCardHeaderStyle1 {
    background-color: #5c9855
}

.opCardHeaderStyle4 {
    background-color: #707fac
}

.opCardHeaderStyle2 {
    background-color: #a0823e
}

.opCardHeaderStyle3 {
    background-color: #a0593e
}

.opPara {
    display: none;
    padding: 10px;
}

.opPara:hover {
    background-color: #f2f2f2;
}

.opPara1 {
    padding: 10px;
}

.jobDescPara {
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
}
.jobDescPara p{
    margin-bottom: 0 !important;
}
.btn-careeers, .footer .follow {
    color: #fff;
    font-size: 15px;
}

.hidden {
    display: none;
}

.btn-careeers {
    background-color: #fb9e25;
    -moz-border-radius: 20px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    font-style: normal;
    height: 38px;
    line-height: 38px;
    width: 149px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #cc9f52;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.btn-careeers:hover {
    background-color: #ffc477;
}

.btn-careeers:active {
    position: relative;
    top: 1px;
}

.btn-careeersWrapper {
    padding: 10px;
}

.ie-edge .t1 {
    background: linear-gradient(rgba(195, 160, 125, 0.5), rgba(195, 160, 125, 0.5)), url(../img/careers/learn.jpg);
}

.ie-edge .t2 {
    background: linear-gradient(rgba(83, 157, 174, .55), rgba(83, 157, 174, .55)), url(../img/careers/create.jpg);
}

.ie-edge .t3 {
    background: linear-gradient(rgba(205, 100, 77, .55), rgba(205, 100, 77, .55)), url(../img/careers/explore.jpg);
}

.ie-edge .t4 {
    background: linear-gradient(rgba(115, 158, 120, .55), rgba(115, 158, 120, .55)), url(../img/careers/fun.jpg);
}

.ie .card, .opCard {
    border: 1px solid #ccc !important;
}

.ie .arrow {
    display: none !important;
}

.ie .slideWrapper {
    overflow: auto !important;
}

.ie .footer {
    filter: none !important;
}

.divider-section2-careers {
    height: 1px;
}

.section2-careers {
    background-color: #ffffff;
}

.section3-careers {
    background-color: #ffffff !important;
}

@media only screen and (min-width: 1em) {
    .bgImg {
        background-size: auto 125% !important
    }
}

@media only screen and (max-width: 459px) {
    .tilePos {
        background-size: auto 100% !important
    }
}

@media only screen and (min-width: 460px) {
    .tilePos {
        background-size: 100% auto !important
    }
}

@media only screen and (min-width: 34em) {
    .bgImg {
        background-size: 125% auto !important
    }

    .opCardHeight {
        height: auto
    }
}

@media only screen and (min-width: 62em) {
    .opCardHeight {
        height: 135px
    }
}

@media only screen and (min-width: 75em) {
    .opCardHeight {
        height: 150px
    }
}