.custom-style-message-box {
    text-align: left;
    height: 100%;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    margin: 5px;
}

.custom-style-message-error {
    border-left: thick solid #790000;
    color: #fff;
    background-color: #cf3338;
}

.custom-style-message-info {
    border-left: thick solid #2e4b83;
    color: #fff;
    background-color: #5574b9;
}

.custom-style-message-success {
    border-left: thick solid #063f20;
    color: #fff;
    background-color: #0b6938;
}

.custom-style-message-warning {
    border-left: thick solid #a68b30;
    color: #fff;
    background-color: #d6b011;
}

.custom-style-message-desc {
    font-size: 17px !important;
}

.custom-style-message-hr {
    margin: 3px 0 3px 0 !important;
}

.custom-style-message-hr-error {
    border: 1px solid #790000;
}

.custom-style-message-hr-info {
    border: 1px solid #2e4b83;
}

.custom-style-message-hr-success {
    border: 1px solid #063f20;
}

.custom-style-message-hr-warning {
    border: 1px solid #a68b30;
}

.custom-style-message-text {
    text-align: left !important;
    font-size: 15px !important;
    font-weight: bold;
    line-height: 20px;
}

