.header-landingjul09 {
    color: #fff;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.schoolsub {
    background: #fff url(../img/landingjul09/bg_school.jpg) no-repeat top center;
}

.exam {
    background: #fff url(../img/landingjul09/bg_exam.jpg) no-repeat center;
}

.dance {
    background: #fff url(../img/landingjul09/bg_dance.jpg) no-repeat top center;
}

.arts {
    background: #fff url(../img/landingjul09/bg_art.jpg) no-repeat center;
}

.rating-block img {
    width: auto;
    max-height: 50px;
}

.truncate {
    display: block !important;
    display: -webkit-box !important;
    max-width: 500px !important;
    height: 37px !important;
    margin: 0 auto !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.section2-btn-landingjul09 .btn {
    font-weight: bold;
    font-size: 30px;
    height: 75px;
    width: auto;
    border: 2px solid !important;
    padding-top: 15px;
    border-radius: 15px;
    background-color: #f2f2f2 !important;
}

.section2-btn-landingjul09 .btn1 {
    color: rgb(35, 191, 247) !important;
    border-color: rgb(35, 191, 247) !important;
}

.section2-btn-landingjul09 .btn2 {
    color: rgb(48, 69, 28) !important;
    border-color: rgb(48, 69, 28) !important;
}

.section2-btn-landingjul09 .btn3 {
    color: rgb(230, 125, 68) !important;
    border-color: rgb(230, 125, 68) !important;
}

.section2-btn-landingjul09 .btn4 {
    color: rgb(118, 172, 66) !important;
    border-color: rgb(118, 172, 66) !important;
}

.section2-btn-landingjul09 .btn5 {
    color: rgb(120, 177, 203) !important;
    border-color: rgb(120, 177, 203) !important;
}

.section2-btn-landingjul09 .btn6 {
    color: rgb(187, 75, 14) !important;
    border-color: rgb(187, 75, 14) !important;
}

.section2-btn-landingjul09 button, .section2-btn-landingjul09 a {
    box-shadow: 0 2px 4px #888888;
}

.noclick {
    cursor: default;
    margin-bottom: 10px;
}

.single-col {
    width: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.section2-landingjul09 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider-section2-landingjul09 {
    margin-top: 20px;
}

.section4-landingjul09 h3 {
    color: #236482;
}

.section4-landingjul09 h4 {
    color: #000000;
}

.resultMsgs {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.store-item {
    background: white;
    height: 347px;
    width: 100%;
    margin-bottom: 10px;
}

.store-item-info {
    height: 188px;
    width: 100%;
}

.hr-helpyou {
    display: block;
    height: 1px;
    border: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.46) !important;
    margin: -11px -15px 10px -15px !important
}

.hr-override-helpyou {
    display: block;
    height: 1px;
    border: 0 !important;
    border-top: 3px solid #333333 !important;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: center;
    width: 230px;
}

.section3-landingjul09 h2, .section4-landingjul09 h2 {
    text-align: center;
}

.section4-landingjul09 h2 {
    font-size: 44px !important;
}

.viewmoresection-landingjul09{
    margin-top: -10px;
}

.section3-landingjul09 .divider {
    height: 60px;
}

.form-landingjul09 {
    margin-top: 30px;
}

.section4-landingjul09 {
    margin-bottom: 30px;
}

.number-highlight {
    font-size: 80px;
    color: #35abdb;
}

.text-highlight {
    font-size: 33px;
}

.view-more-landingjul09 {
    color: #333333 !important;
    text-decoration: none !important;
    font-size: 20px;
    vertical-align: middle;
}

.text-blue {
    color: #35abdb;
    font-size: 30px;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .header-landingjul09 {
        font-size: 26px;
        min-height: 255px;
        padding: 112px 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .btn-aling-center-xs {
        text-align: center;
    }
}

@media only screen and (min-width: 1px) {
    .section2-landingjul09 h3 {
        font-weight: bold;
        font-size: 15px;
    }

    .bgImg {
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 381px) {
    .bgImg {
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 992px) {
    .bgImg {
        background-size: 100% auto;
    }

    .header-landingjul09 {
        font-size: 40px;
        font-weight: bold;
        min-height: 400px;
        padding: 150px 0 0 0;
    }

    .section2-landingjul09 h3 {
        font-weight: bold;
        font-size: 25px;
    }
}