html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
    background-color: #eeeeee;
}

body, html {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
}

h3 {
    font-size: 2.92rem;
    line-height: 110%;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
}

h6 {
    font-size: 1rem;
    line-height: 110%;
}

.z-depth-0 {
    box-shadow: none !important
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)
}

.red {
    background-color: #F44336 !important
}

.red-text {
    color: #F44336 !important
}

.red.lighten-5 {
    background-color: #FFEBEE !important
}

.red-text.text-lighten-5 {
    color: #FFEBEE !important
}

.red.lighten-4 {
    background-color: #FFCDD2 !important
}

.red-text.text-lighten-4 {
    color: #FFCDD2 !important
}

.red.lighten-3 {
    background-color: #EF9A9A !important
}

.red-text.text-lighten-3 {
    color: #EF9A9A !important
}

.red.lighten-2 {
    background-color: #E57373 !important
}

.red-text.text-lighten-2 {
    color: #E57373 !important
}

.red.lighten-1 {
    background-color: #EF5350 !important
}

.red-text.text-lighten-1 {
    color: #EF5350 !important
}

.red.darken-1 {
    background-color: #E53935 !important
}

.red-text.text-darken-1 {
    color: #E53935 !important
}

.red.darken-2 {
    background-color: #D32F2F !important
}

.red-text.text-darken-2 {
    color: #D32F2F !important
}

.red.darken-3 {
    background-color: #C62828 !important
}

.red-text.text-darken-3 {
    color: #C62828 !important
}

.red.darken-4 {
    background-color: #B71C1C !important
}

.red-text.text-darken-4 {
    color: #B71C1C !important
}

.red.accent-1 {
    background-color: #FF8A80 !important
}

.red-text.text-accent-1 {
    color: #FF8A80 !important
}

.red.accent-2 {
    background-color: #FF5252 !important
}

.red-text.text-accent-2 {
    color: #FF5252 !important
}

.red.accent-3 {
    background-color: #FF1744 !important
}

.red-text.text-accent-3 {
    color: #FF1744 !important
}

.red.accent-4 {
    background-color: #D50000 !important
}

.red-text.text-accent-4 {
    color: #D50000 !important
}

.pink {
    background-color: #e91e63 !important
}

.pink-text {
    color: #e91e63 !important
}

.pink.lighten-5 {
    background-color: #fce4ec !important
}

.pink-text.text-lighten-5 {
    color: #fce4ec !important
}

.pink.lighten-4 {
    background-color: #f8bbd0 !important
}

.pink-text.text-lighten-4 {
    color: #f8bbd0 !important
}

.pink.lighten-3 {
    background-color: #f48fb1 !important
}

.pink-text.text-lighten-3 {
    color: #f48fb1 !important
}

.pink.lighten-2 {
    background-color: #f06292 !important
}

.pink-text.text-lighten-2 {
    color: #f06292 !important
}

.pink.lighten-1 {
    background-color: #ec407a !important
}

.pink-text.text-lighten-1 {
    color: #ec407a !important
}

.pink.darken-1 {
    background-color: #d81b60 !important
}

.pink-text.text-darken-1 {
    color: #d81b60 !important
}

.pink.darken-2 {
    background-color: #c2185b !important
}

.pink-text.text-darken-2 {
    color: #c2185b !important
}

.pink.darken-3 {
    background-color: #ad1457 !important
}

.pink-text.text-darken-3 {
    color: #ad1457 !important
}

.pink.darken-4 {
    background-color: #880e4f !important
}

.pink-text.text-darken-4 {
    color: #880e4f !important
}

.pink.accent-1 {
    background-color: #ff80ab !important
}

.pink-text.text-accent-1 {
    color: #ff80ab !important
}

.pink.accent-2 {
    background-color: #ff4081 !important
}

.pink-text.text-accent-2 {
    color: #ff4081 !important
}

.pink.accent-3 {
    background-color: #f50057 !important
}

.pink-text.text-accent-3 {
    color: #f50057 !important
}

.pink.accent-4 {
    background-color: #c51162 !important
}

.pink-text.text-accent-4 {
    color: #c51162 !important
}

.purple {
    background-color: #9c27b0 !important
}

.purple-text {
    color: #9c27b0 !important
}

.purple.lighten-5 {
    background-color: #f3e5f5 !important
}

.purple-text.text-lighten-5 {
    color: #f3e5f5 !important
}

.purple.lighten-4 {
    background-color: #e1bee7 !important
}

.purple-text.text-lighten-4 {
    color: #e1bee7 !important
}

.purple.lighten-3 {
    background-color: #ce93d8 !important
}

.purple-text.text-lighten-3 {
    color: #ce93d8 !important
}

.purple.lighten-2 {
    background-color: #ba68c8 !important
}

.purple-text.text-lighten-2 {
    color: #ba68c8 !important
}

.purple.lighten-1 {
    background-color: #ab47bc !important
}

.purple-text.text-lighten-1 {
    color: #ab47bc !important
}

.purple.darken-1 {
    background-color: #8e24aa !important
}

.purple-text.text-darken-1 {
    color: #8e24aa !important
}

.purple.darken-2 {
    background-color: #7b1fa2 !important
}

.purple-text.text-darken-2 {
    color: #7b1fa2 !important
}

.purple.darken-3 {
    background-color: #6a1b9a !important
}

.purple-text.text-darken-3 {
    color: #6a1b9a !important
}

.purple.darken-4 {
    background-color: #4a148c !important
}

.purple-text.text-darken-4 {
    color: #4a148c !important
}

.purple.accent-1 {
    background-color: #ea80fc !important
}

.purple-text.text-accent-1 {
    color: #ea80fc !important
}

.purple.accent-2 {
    background-color: #e040fb !important
}

.purple-text.text-accent-2 {
    color: #e040fb !important
}

.purple.accent-3 {
    background-color: #d500f9 !important
}

.purple-text.text-accent-3 {
    color: #d500f9 !important
}

.purple.accent-4 {
    background-color: #a0f !important
}

.purple-text.text-accent-4 {
    color: #a0f !important
}

.deep-purple {
    background-color: #673ab7 !important
}

.deep-purple-text {
    color: #673ab7 !important
}

.deep-purple.lighten-5 {
    background-color: #ede7f6 !important
}

.deep-purple-text.text-lighten-5 {
    color: #ede7f6 !important
}

.deep-purple.lighten-4 {
    background-color: #d1c4e9 !important
}

.deep-purple-text.text-lighten-4 {
    color: #d1c4e9 !important
}

.deep-purple.lighten-3 {
    background-color: #b39ddb !important
}

.deep-purple-text.text-lighten-3 {
    color: #b39ddb !important
}

.deep-purple.lighten-2 {
    background-color: #9575cd !important
}

.deep-purple-text.text-lighten-2 {
    color: #9575cd !important
}

.deep-purple.lighten-1 {
    background-color: #7e57c2 !important
}

.deep-purple-text.text-lighten-1 {
    color: #7e57c2 !important
}

.deep-purple.darken-1 {
    background-color: #5e35b1 !important
}

.deep-purple-text.text-darken-1 {
    color: #5e35b1 !important
}

.deep-purple.darken-2 {
    background-color: #512da8 !important
}

.deep-purple-text.text-darken-2 {
    color: #512da8 !important
}

.deep-purple.darken-3 {
    background-color: #4527a0 !important
}

.deep-purple-text.text-darken-3 {
    color: #4527a0 !important
}

.deep-purple.darken-4 {
    background-color: #311b92 !important
}

.deep-purple-text.text-darken-4 {
    color: #311b92 !important
}

.deep-purple.accent-1 {
    background-color: #b388ff !important
}

.deep-purple-text.text-accent-1 {
    color: #b388ff !important
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important
}

.deep-purple-text.text-accent-2 {
    color: #7c4dff !important
}

.deep-purple.accent-3 {
    background-color: #651fff !important
}

.deep-purple-text.text-accent-3 {
    color: #651fff !important
}

.deep-purple.accent-4 {
    background-color: #6200ea !important
}

.deep-purple-text.text-accent-4 {
    color: #6200ea !important
}

.indigo {
    background-color: #3f51b5 !important
}

.indigo-text {
    color: #3f51b5 !important
}

.indigo.lighten-5 {
    background-color: #e8eaf6 !important
}

.indigo-text.text-lighten-5 {
    color: #e8eaf6 !important
}

.indigo.lighten-4 {
    background-color: #c5cae9 !important
}

.indigo-text.text-lighten-4 {
    color: #c5cae9 !important
}

.indigo.lighten-3 {
    background-color: #9fa8da !important
}

.indigo-text.text-lighten-3 {
    color: #9fa8da !important
}

.indigo.lighten-2 {
    background-color: #7986cb !important
}

.indigo-text.text-lighten-2 {
    color: #7986cb !important
}

.indigo.lighten-1 {
    background-color: #5c6bc0 !important
}

.indigo-text.text-lighten-1 {
    color: #5c6bc0 !important
}

.indigo.darken-1 {
    background-color: #3949ab !important
}

.indigo-text.text-darken-1 {
    color: #3949ab !important
}

.indigo.darken-2 {
    background-color: #303f9f !important
}

.indigo-text.text-darken-2 {
    color: #303f9f !important
}

.indigo.darken-3 {
    background-color: #283593 !important
}

.indigo-text.text-darken-3 {
    color: #283593 !important
}

.indigo.darken-4 {
    background-color: #1a237e !important
}

.indigo-text.text-darken-4 {
    color: #1a237e !important
}

.indigo.accent-1 {
    background-color: #8c9eff !important
}

.indigo-text.text-accent-1 {
    color: #8c9eff !important
}

.indigo.accent-2 {
    background-color: #536dfe !important
}

.indigo-text.text-accent-2 {
    color: #536dfe !important
}

.indigo.accent-3 {
    background-color: #3d5afe !important
}

.indigo-text.text-accent-3 {
    color: #3d5afe !important
}

.indigo.accent-4 {
    background-color: #304ffe !important
}

.indigo-text.text-accent-4 {
    color: #304ffe !important
}

.blue {
    background-color: #2196F3 !important
}

.blue-text {
    color: #2196F3 !important
}

.blue.lighten-5 {
    background-color: #E3F2FD !important
}

.blue-text.text-lighten-5 {
    color: #E3F2FD !important
}

.blue.lighten-4 {
    background-color: #BBDEFB !important
}

.blue-text.text-lighten-4 {
    color: #BBDEFB !important
}

.blue.lighten-3 {
    background-color: #90CAF9 !important
}

.blue-text.text-lighten-3 {
    color: #90CAF9 !important
}

.blue.lighten-2 {
    background-color: #64B5F6 !important
}

.blue-text.text-lighten-2 {
    color: #64B5F6 !important
}

.blue.lighten-1 {
    background-color: #42A5F5 !important
}

.blue-text.text-lighten-1 {
    color: #42A5F5 !important
}

.blue.darken-1 {
    background-color: #1E88E5 !important
}

.blue-text.text-darken-1 {
    color: #1E88E5 !important
}

.blue.darken-2 {
    background-color: #1976D2 !important
}

.blue-text.text-darken-2 {
    color: #1976D2 !important
}

.blue.darken-3 {
    background-color: #1565C0 !important
}

.blue-text.text-darken-3 {
    color: #1565C0 !important
}

.blue.darken-4 {
    background-color: #0D47A1 !important
}

.blue-text.text-darken-4 {
    color: #0D47A1 !important
}

.blue.accent-1 {
    background-color: #82B1FF !important
}

.blue-text.text-accent-1 {
    color: #82B1FF !important
}

.blue.accent-2 {
    background-color: #448AFF !important
}

.blue-text.text-accent-2 {
    color: #448AFF !important
}

.blue.accent-3 {
    background-color: #2979FF !important
}

.blue-text.text-accent-3 {
    color: #2979FF !important
}

.blue.accent-4 {
    background-color: #2962FF !important
}

.blue-text.text-accent-4 {
    color: #2962FF !important
}

.light-blue {
    background-color: #03a9f4 !important
}

.light-blue-text {
    color: #03a9f4 !important
}

.light-blue.lighten-5 {
    background-color: #e1f5fe !important
}

.light-blue-text.text-lighten-5 {
    color: #e1f5fe !important
}

.light-blue.lighten-4 {
    background-color: #b3e5fc !important
}

.light-blue-text.text-lighten-4 {
    color: #b3e5fc !important
}

.light-blue.lighten-3 {
    background-color: #81d4fa !important
}

.light-blue-text.text-lighten-3 {
    color: #81d4fa !important
}

.light-blue.lighten-2 {
    background-color: #4fc3f7 !important
}

.light-blue-text.text-lighten-2 {
    color: #4fc3f7 !important
}

.light-blue.lighten-1 {
    background-color: #29b6f6 !important
}

.light-blue-text.text-lighten-1 {
    color: #29b6f6 !important
}

.light-blue.darken-1 {
    background-color: #039be5 !important
}

.light-blue-text.text-darken-1 {
    color: #039be5 !important
}

.light-blue.darken-2 {
    background-color: #0288d1 !important
}

.light-blue-text.text-darken-2 {
    color: #0288d1 !important
}

.light-blue.darken-3 {
    background-color: #0277bd !important
}

.light-blue-text.text-darken-3 {
    color: #0277bd !important
}

.light-blue.darken-4 {
    background-color: #01579b !important
}

.light-blue-text.text-darken-4 {
    color: #01579b !important
}

.light-blue.accent-1 {
    background-color: #80d8ff !important
}

.light-blue-text.text-accent-1 {
    color: #80d8ff !important
}

.light-blue.accent-2 {
    background-color: #40c4ff !important
}

.light-blue-text.text-accent-2 {
    color: #40c4ff !important
}

.light-blue.accent-3 {
    background-color: #00b0ff !important
}

.light-blue-text.text-accent-3 {
    color: #00b0ff !important
}

.light-blue.accent-4 {
    background-color: #0091ea !important
}

.light-blue-text.text-accent-4 {
    color: #0091ea !important
}

.cyan {
    background-color: #00bcd4 !important
}

.cyan-text {
    color: #00bcd4 !important
}

.cyan.lighten-5 {
    background-color: #e0f7fa !important
}

.cyan-text.text-lighten-5 {
    color: #e0f7fa !important
}

.cyan.lighten-4 {
    background-color: #b2ebf2 !important
}

.cyan-text.text-lighten-4 {
    color: #b2ebf2 !important
}

.cyan.lighten-3 {
    background-color: #80deea !important
}

.cyan-text.text-lighten-3 {
    color: #80deea !important
}

.cyan.lighten-2 {
    background-color: #4dd0e1 !important
}

.cyan-text.text-lighten-2 {
    color: #4dd0e1 !important
}

.cyan.lighten-1 {
    background-color: #26c6da !important
}

.cyan-text.text-lighten-1 {
    color: #26c6da !important
}

.cyan.darken-1 {
    background-color: #00acc1 !important
}

.cyan-text.text-darken-1 {
    color: #00acc1 !important
}

.cyan.darken-2 {
    background-color: #0097a7 !important
}

.cyan-text.text-darken-2 {
    color: #0097a7 !important
}

.cyan.darken-3 {
    background-color: #00838f !important
}

.cyan-text.text-darken-3 {
    color: #00838f !important
}

.cyan.darken-4 {
    background-color: #006064 !important
}

.cyan-text.text-darken-4 {
    color: #006064 !important
}

.cyan.accent-1 {
    background-color: #84ffff !important
}

.cyan-text.text-accent-1 {
    color: #84ffff !important
}

.cyan.accent-2 {
    background-color: #18ffff !important
}

.cyan-text.text-accent-2 {
    color: #18ffff !important
}

.cyan.accent-3 {
    background-color: #00e5ff !important
}

.cyan-text.text-accent-3 {
    color: #00e5ff !important
}

.cyan.accent-4 {
    background-color: #00b8d4 !important
}

.cyan-text.text-accent-4 {
    color: #00b8d4 !important
}

.teal {
    background-color: #009688 !important
}

.teal-text {
    color: #009688 !important
}

.teal.lighten-5 {
    background-color: #e0f2f1 !important
}

.teal-text.text-lighten-5 {
    color: #e0f2f1 !important
}

.teal.lighten-4 {
    background-color: #b2dfdb !important
}

.teal-text.text-lighten-4 {
    color: #b2dfdb !important
}

.teal.lighten-3 {
    background-color: #80cbc4 !important
}

.teal-text.text-lighten-3 {
    color: #80cbc4 !important
}

.teal.lighten-2 {
    background-color: #4db6ac !important
}

.teal-text.text-lighten-2 {
    color: #4db6ac !important
}

.teal.lighten-1 {
    background-color: #26a69a !important
}

.teal-text.text-lighten-1 {
    color: #26a69a !important
}

.teal.darken-1 {
    background-color: #00897b !important
}

.teal-text.text-darken-1 {
    color: #00897b !important
}

.teal.darken-2 {
    background-color: #00796b !important
}

.teal-text.text-darken-2 {
    color: #00796b !important
}

.teal.darken-3 {
    background-color: #00695c !important
}

.teal-text.text-darken-3 {
    color: #00695c !important
}

.teal.darken-4 {
    background-color: #004d40 !important
}

.teal-text.text-darken-4 {
    color: #004d40 !important
}

.teal.accent-1 {
    background-color: #a7ffeb !important
}

.teal-text.text-accent-1 {
    color: #a7ffeb !important
}

.teal.accent-2 {
    background-color: #64ffda !important
}

.teal-text.text-accent-2 {
    color: #64ffda !important
}

.teal.accent-3 {
    background-color: #1de9b6 !important
}

.teal-text.text-accent-3 {
    color: #1de9b6 !important
}

.teal.accent-4 {
    background-color: #00bfa5 !important
}

.teal-text.text-accent-4 {
    color: #00bfa5 !important
}

.green {
    background-color: #4CAF50 !important
}

.green-text {
    color: #4CAF50 !important
}

.green.lighten-5 {
    background-color: #E8F5E9 !important
}

.green-text.text-lighten-5 {
    color: #E8F5E9 !important
}

.green.lighten-4 {
    background-color: #C8E6C9 !important
}

.green-text.text-lighten-4 {
    color: #C8E6C9 !important
}

.green.lighten-3 {
    background-color: #A5D6A7 !important
}

.green-text.text-lighten-3 {
    color: #A5D6A7 !important
}

.green.lighten-2 {
    background-color: #81C784 !important
}

.green-text.text-lighten-2 {
    color: #81C784 !important
}

.green.lighten-1 {
    background-color: #66BB6A !important
}

.green-text.text-lighten-1 {
    color: #66BB6A !important
}

.green.darken-1 {
    background-color: #43A047 !important
}

.green-text.text-darken-1 {
    color: #43A047 !important
}

.green.darken-2 {
    background-color: #388E3C !important
}

.green-text.text-darken-2 {
    color: #388E3C !important
}

.green.darken-3 {
    background-color: #2E7D32 !important
}

.green-text.text-darken-3 {
    color: #2E7D32 !important
}

.green.darken-4 {
    background-color: #1B5E20 !important
}

.green-text.text-darken-4 {
    color: #1B5E20 !important
}

.green.accent-1 {
    background-color: #B9F6CA !important
}

.green-text.text-accent-1 {
    color: #B9F6CA !important
}

.green.accent-2 {
    background-color: #69F0AE !important
}

.green-text.text-accent-2 {
    color: #69F0AE !important
}

.green.accent-3 {
    background-color: #00E676 !important
}

.green-text.text-accent-3 {
    color: #00E676 !important
}

.green.accent-4 {
    background-color: #00C853 !important
}

.green-text.text-accent-4 {
    color: #00C853 !important
}

.light-green {
    background-color: #8bc34a !important
}

.light-green-text {
    color: #8bc34a !important
}

.light-green.lighten-5 {
    background-color: #f1f8e9 !important
}

.light-green-text.text-lighten-5 {
    color: #f1f8e9 !important
}

.light-green.lighten-4 {
    background-color: #dcedc8 !important
}

.light-green-text.text-lighten-4 {
    color: #dcedc8 !important
}

.light-green.lighten-3 {
    background-color: #c5e1a5 !important
}

.light-green-text.text-lighten-3 {
    color: #c5e1a5 !important
}

.light-green.lighten-2 {
    background-color: #aed581 !important
}

.light-green-text.text-lighten-2 {
    color: #aed581 !important
}

.light-green.lighten-1 {
    background-color: #9ccc65 !important
}

.light-green-text.text-lighten-1 {
    color: #9ccc65 !important
}

.light-green.darken-1 {
    background-color: #7cb342 !important
}

.light-green-text.text-darken-1 {
    color: #7cb342 !important
}

.light-green.darken-2 {
    background-color: #689f38 !important
}

.light-green-text.text-darken-2 {
    color: #689f38 !important
}

.light-green.darken-3 {
    background-color: #558b2f !important
}

.light-green-text.text-darken-3 {
    color: #558b2f !important
}

.light-green.darken-4 {
    background-color: #33691e !important
}

.light-green-text.text-darken-4 {
    color: #33691e !important
}

.light-green.accent-1 {
    background-color: #ccff90 !important
}

.light-green-text.text-accent-1 {
    color: #ccff90 !important
}

.light-green.accent-2 {
    background-color: #b2ff59 !important
}

.light-green-text.text-accent-2 {
    color: #b2ff59 !important
}

.light-green.accent-3 {
    background-color: #76ff03 !important
}

.light-green-text.text-accent-3 {
    color: #76ff03 !important
}

.light-green.accent-4 {
    background-color: #64dd17 !important
}

.light-green-text.text-accent-4 {
    color: #64dd17 !important
}

.lime {
    background-color: #cddc39 !important
}

.lime-text {
    color: #cddc39 !important
}

.lime.lighten-5 {
    background-color: #f9fbe7 !important
}

.lime-text.text-lighten-5 {
    color: #f9fbe7 !important
}

.lime.lighten-4 {
    background-color: #f0f4c3 !important
}

.lime-text.text-lighten-4 {
    color: #f0f4c3 !important
}

.lime.lighten-3 {
    background-color: #e6ee9c !important
}

.lime-text.text-lighten-3 {
    color: #e6ee9c !important
}

.lime.lighten-2 {
    background-color: #dce775 !important
}

.lime-text.text-lighten-2 {
    color: #dce775 !important
}

.lime.lighten-1 {
    background-color: #d4e157 !important
}

.lime-text.text-lighten-1 {
    color: #d4e157 !important
}

.lime.darken-1 {
    background-color: #c0ca33 !important
}

.lime-text.text-darken-1 {
    color: #c0ca33 !important
}

.lime.darken-2 {
    background-color: #afb42b !important
}

.lime-text.text-darken-2 {
    color: #afb42b !important
}

.lime.darken-3 {
    background-color: #9e9d24 !important
}

.lime-text.text-darken-3 {
    color: #9e9d24 !important
}

.lime.darken-4 {
    background-color: #827717 !important
}

.lime-text.text-darken-4 {
    color: #827717 !important
}

.lime.accent-1 {
    background-color: #f4ff81 !important
}

.lime-text.text-accent-1 {
    color: #f4ff81 !important
}

.lime.accent-2 {
    background-color: #eeff41 !important
}

.lime-text.text-accent-2 {
    color: #eeff41 !important
}

.lime.accent-3 {
    background-color: #c6ff00 !important
}

.lime-text.text-accent-3 {
    color: #c6ff00 !important
}

.lime.accent-4 {
    background-color: #aeea00 !important
}

.lime-text.text-accent-4 {
    color: #aeea00 !important
}

.yellow {
    background-color: #ffeb3b !important
}

.yellow-text {
    color: #ffeb3b !important
}

.yellow.lighten-5 {
    background-color: #fffde7 !important
}

.yellow-text.text-lighten-5 {
    color: #fffde7 !important
}

.yellow.lighten-4 {
    background-color: #fff9c4 !important
}

.yellow-text.text-lighten-4 {
    color: #fff9c4 !important
}

.yellow.lighten-3 {
    background-color: #fff59d !important
}

.yellow-text.text-lighten-3 {
    color: #fff59d !important
}

.yellow.lighten-2 {
    background-color: #fff176 !important
}

.yellow-text.text-lighten-2 {
    color: #fff176 !important
}

.yellow.lighten-1 {
    background-color: #ffee58 !important
}

.yellow-text.text-lighten-1 {
    color: #ffee58 !important
}

.yellow.darken-1 {
    background-color: #fdd835 !important
}

.yellow-text.text-darken-1 {
    color: #fdd835 !important
}

.yellow.darken-2 {
    background-color: #fbc02d !important
}

.yellow-text.text-darken-2 {
    color: #fbc02d !important
}

.yellow.darken-3 {
    background-color: #f9a825 !important
}

.yellow-text.text-darken-3 {
    color: #f9a825 !important
}

.yellow.darken-4 {
    background-color: #f57f17 !important
}

.yellow-text.text-darken-4 {
    color: #f57f17 !important
}

.yellow.accent-1 {
    background-color: #ffff8d !important
}

.yellow-text.text-accent-1 {
    color: #ffff8d !important
}

.yellow.accent-2 {
    background-color: #ff0 !important
}

.yellow-text.text-accent-2 {
    color: #ff0 !important
}

.yellow.accent-3 {
    background-color: #ffea00 !important
}

.yellow-text.text-accent-3 {
    color: #ffea00 !important
}

.yellow.accent-4 {
    background-color: #ffd600 !important
}

.yellow-text.text-accent-4 {
    color: #ffd600 !important
}

.amber {
    background-color: #ffc107 !important
}

.amber-text {
    color: #ffc107 !important
}

.amber.lighten-5 {
    background-color: #fff8e1 !important
}

.amber-text.text-lighten-5 {
    color: #fff8e1 !important
}

.amber.lighten-4 {
    background-color: #ffecb3 !important
}

.amber-text.text-lighten-4 {
    color: #ffecb3 !important
}

.amber.lighten-3 {
    background-color: #ffe082 !important
}

.amber-text.text-lighten-3 {
    color: #ffe082 !important
}

.amber.lighten-2 {
    background-color: #ffd54f !important
}

.amber-text.text-lighten-2 {
    color: #ffd54f !important
}

.amber.lighten-1 {
    background-color: #ffca28 !important
}

.amber-text.text-lighten-1 {
    color: #ffca28 !important
}

.amber.darken-1 {
    background-color: #ffb300 !important
}

.amber-text.text-darken-1 {
    color: #ffb300 !important
}

.amber.darken-2 {
    background-color: #ffa000 !important
}

.amber-text.text-darken-2 {
    color: #ffa000 !important
}

.amber.darken-3 {
    background-color: #ff8f00 !important
}

.amber-text.text-darken-3 {
    color: #ff8f00 !important
}

.amber.darken-4 {
    background-color: #ff6f00 !important
}

.amber-text.text-darken-4 {
    color: #ff6f00 !important
}

.amber.accent-1 {
    background-color: #ffe57f !important
}

.amber-text.text-accent-1 {
    color: #ffe57f !important
}

.amber.accent-2 {
    background-color: #ffd740 !important
}

.amber-text.text-accent-2 {
    color: #ffd740 !important
}

.amber.accent-3 {
    background-color: #ffc400 !important
}

.amber-text.text-accent-3 {
    color: #ffc400 !important
}

.amber.accent-4 {
    background-color: #ffab00 !important
}

.amber-text.text-accent-4 {
    color: #ffab00 !important
}

.orange {
    background-color: #ff9800 !important
}

.orange-text {
    color: #ff9800 !important
}

.orange.lighten-5 {
    background-color: #fff3e0 !important
}

.orange-text.text-lighten-5 {
    color: #fff3e0 !important
}

.orange.lighten-4 {
    background-color: #ffe0b2 !important
}

.orange-text.text-lighten-4 {
    color: #ffe0b2 !important
}

.orange.lighten-3 {
    background-color: #ffcc80 !important
}

.orange-text.text-lighten-3 {
    color: #ffcc80 !important
}

.orange.lighten-2 {
    background-color: #ffb74d !important
}

.orange-text.text-lighten-2 {
    color: #ffb74d !important
}

.orange.lighten-1 {
    background-color: #ffa726 !important
}

.orange-text.text-lighten-1 {
    color: #ffa726 !important
}

.orange.darken-1 {
    background-color: #fb8c00 !important
}

.orange-text.text-darken-1 {
    color: #fb8c00 !important
}

.orange.darken-2 {
    background-color: #f57c00 !important
}

.orange-text.text-darken-2 {
    color: #f57c00 !important
}

.orange.darken-3 {
    background-color: #ef6c00 !important
}

.orange-text.text-darken-3 {
    color: #ef6c00 !important
}

.orange.darken-4 {
    background-color: #e65100 !important
}

.orange-text.text-darken-4 {
    color: #e65100 !important
}

.orange.accent-1 {
    background-color: #ffd180 !important
}

.orange-text.text-accent-1 {
    color: #ffd180 !important
}

.orange.accent-2 {
    background-color: #ffab40 !important
}

.orange-text.text-accent-2 {
    color: #ffab40 !important
}

.orange.accent-3 {
    background-color: #ff9100 !important
}

.orange-text.text-accent-3 {
    color: #ff9100 !important
}

.orange.accent-4 {
    background-color: #ff6d00 !important
}

.orange-text.text-accent-4 {
    color: #ff6d00 !important
}

.deep-orange {
    background-color: #ff5722 !important
}

.deep-orange-text {
    color: #ff5722 !important
}

.deep-orange.lighten-5 {
    background-color: #fbe9e7 !important
}

.deep-orange-text.text-lighten-5 {
    color: #fbe9e7 !important
}

.deep-orange.lighten-4 {
    background-color: #ffccbc !important
}

.deep-orange-text.text-lighten-4 {
    color: #ffccbc !important
}

.deep-orange.lighten-3 {
    background-color: #ffab91 !important
}

.deep-orange-text.text-lighten-3 {
    color: #ffab91 !important
}

.deep-orange.lighten-2 {
    background-color: #ff8a65 !important
}

.deep-orange-text.text-lighten-2 {
    color: #ff8a65 !important
}

.deep-orange.lighten-1 {
    background-color: #ff7043 !important
}

.deep-orange-text.text-lighten-1 {
    color: #ff7043 !important
}

.deep-orange.darken-1 {
    background-color: #f4511e !important
}

.deep-orange-text.text-darken-1 {
    color: #f4511e !important
}

.deep-orange.darken-2 {
    background-color: #e64a19 !important
}

.deep-orange-text.text-darken-2 {
    color: #e64a19 !important
}

.deep-orange.darken-3 {
    background-color: #d84315 !important
}

.deep-orange-text.text-darken-3 {
    color: #d84315 !important
}

.deep-orange.darken-4 {
    background-color: #bf360c !important
}

.deep-orange-text.text-darken-4 {
    color: #bf360c !important
}

.deep-orange.accent-1 {
    background-color: #ff9e80 !important
}

.deep-orange-text.text-accent-1 {
    color: #ff9e80 !important
}

.deep-orange.accent-2 {
    background-color: #ff6e40 !important
}

.deep-orange-text.text-accent-2 {
    color: #ff6e40 !important
}

.deep-orange.accent-3 {
    background-color: #ff3d00 !important
}

.deep-orange-text.text-accent-3 {
    color: #ff3d00 !important
}

.deep-orange.accent-4 {
    background-color: #dd2c00 !important
}

.deep-orange-text.text-accent-4 {
    color: #dd2c00 !important
}

.brown {
    background-color: #795548 !important
}

.brown-text {
    color: #795548 !important
}

.brown.lighten-5 {
    background-color: #efebe9 !important
}

.brown-text.text-lighten-5 {
    color: #efebe9 !important
}

.brown.lighten-4 {
    background-color: #d7ccc8 !important
}

.brown-text.text-lighten-4 {
    color: #d7ccc8 !important
}

.brown.lighten-3 {
    background-color: #bcaaa4 !important
}

.brown-text.text-lighten-3 {
    color: #bcaaa4 !important
}

.brown.lighten-2 {
    background-color: #a1887f !important
}

.brown-text.text-lighten-2 {
    color: #a1887f !important
}

.brown.lighten-1 {
    background-color: #8d6e63 !important
}

.brown-text.text-lighten-1 {
    color: #8d6e63 !important
}

.brown.darken-1 {
    background-color: #6d4c41 !important
}

.brown-text.text-darken-1 {
    color: #6d4c41 !important
}

.brown.darken-2 {
    background-color: #5d4037 !important
}

.brown-text.text-darken-2 {
    color: #5d4037 !important
}

.brown.darken-3 {
    background-color: #4e342e !important
}

.brown-text.text-darken-3 {
    color: #4e342e !important
}

.brown.darken-4 {
    background-color: #3e2723 !important
}

.brown-text.text-darken-4 {
    color: #3e2723 !important
}

.blue-grey {
    background-color: #607d8b !important
}

.blue-grey-text {
    color: #607d8b !important
}

.blue-grey.lighten-5 {
    background-color: #eceff1 !important
}

.blue-grey-text.text-lighten-5 {
    color: #eceff1 !important
}

.blue-grey.lighten-4 {
    background-color: #cfd8dc !important
}

.blue-grey-text.text-lighten-4 {
    color: #cfd8dc !important
}

.blue-grey.lighten-3 {
    background-color: #b0bec5 !important
}

.blue-grey-text.text-lighten-3 {
    color: #b0bec5 !important
}

.blue-grey.lighten-2 {
    background-color: #90a4ae !important
}

.blue-grey-text.text-lighten-2 {
    color: #90a4ae !important
}

.blue-grey.lighten-1 {
    background-color: #78909c !important
}

.blue-grey-text.text-lighten-1 {
    color: #78909c !important
}

.blue-grey.darken-1 {
    background-color: #546e7a !important
}

.blue-grey-text.text-darken-1 {
    color: #546e7a !important
}

.blue-grey.darken-2 {
    background-color: #455a64 !important
}

.blue-grey-text.text-darken-2 {
    color: #455a64 !important
}

.blue-grey.darken-3 {
    background-color: #37474f !important
}

.blue-grey-text.text-darken-3 {
    color: #37474f !important
}

.blue-grey.darken-4 {
    background-color: #263238 !important
}

.blue-grey-text.text-darken-4 {
    color: #263238 !important
}

.grey {
    background-color: #9e9e9e !important
}

.grey-text {
    color: #9e9e9e !important
}

.grey.lighten-5 {
    background-color: #fafafa !important
}

.grey-text.text-lighten-5 {
    color: #fafafa !important
}

.grey.lighten-4 {
    background-color: #f5f5f5 !important
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important
}

.grey.lighten-3 {
    background-color: #eee !important
}

.grey-text.text-lighten-3 {
    color: #eee !important
}

.grey.lighten-2 {
    background-color: #e0e0e0 !important
}

.grey-text.text-lighten-2 {
    color: #e0e0e0 !important
}

.grey.lighten-1 {
    background-color: #bdbdbd !important
}

.grey-text.text-lighten-1 {
    color: #bdbdbd !important
}

.grey.darken-1 {
    background-color: #757575 !important
}

.grey-text.text-darken-1 {
    color: #757575 !important
}

.grey.darken-2 {
    background-color: #616161 !important
}

.grey-text.text-darken-2 {
    color: #616161 !important
}

.grey.darken-3 {
    background-color: #424242 !important
}

.grey-text.text-darken-3 {
    color: #424242 !important
}

.grey.darken-4 {
    background-color: #212121 !important
}

.grey-text.text-darken-4 {
    color: #212121 !important
}

.black {
    background-color: #000 !important
}

.black-text {
    color: #000 !important
}

.white {
    background-color: #fff !important
}

.white-text {
    color: #fff !important
}

.transparent {
    background-color: transparent !important
}

.transparent-text {
    color: transparent !important
}

.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle
}

.collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center
}

.collection .collection-item.avatar .title {
    font-size: 16px
}

.collection .collection-item.avatar p {
    margin: 0
}

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px
}

.collection .collection-item:last-child {
    border-bottom: none
}

.collection .collection-item.active {
    background-color: #26a69a;
    color: #eafaf9
}

.collection .collection-item.active .secondary-content {
    color: #fff
}

.collection a.collection-item {
    margin-top: -1px;
    display: block;
    transition: .25s;
    color: #26a69a
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd
}

.collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px
}

.collection.with-header .collection-item {
    padding-left: 30px
}

.collection.with-header .collection-item.avatar {
    padding-left: 72px
}

.collapsible .collection {
    margin: 0;
    border: none
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px
}

.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px
}

.well-card {
    padding: 30px 20px 30px 24px;
    border-radius: 6px;
}

.no-padding-well {
    padding: 0;
}

.left-align {
    text-align: left
}

.right-align {
    text-align: right
}

.center, .center-align {
    text-align: center
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.no-select, input[type=range], input[type=range] + .thumb, .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.no-drag, .nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-outline, .nooutline {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.truncate, a.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.no-padding, .nopadding {
    padding: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.valign-wrapper .valign {
    display: block
}

.text-bold {
    font-weight: bold;
}

.nomargin, .no-margin {
    margin: 0 !important;
}

.nomargin-top-10 {
    margin-top: -10px !important;
}

.nomargin-top-20 {
    margin-top: -20px !important;
}

.nomargin-top-50 {
    margin-top: -50px !important;
}

.nomargin-top-100 {
    margin-top: -100px !important;
}

.nomargin-bottom-10 {
    margin-bottom: -10px !important;
}

.nomargin-bottom-20 {
    margin-bottom: -20px !important;
}

.nomargin-bottom-50 {
    margin-bottom: -50px !important;
}

.nomargin-bottom-100 {
    margin-bottom: -100px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.noroundcorner {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
}

svg {
    max-height: 100% !important;
}

/*start placeholder fix*/
.placeholder-dark input::-webkit-input-placeholder {
    color: #867e7e;
}

.placeholder-dark input:-moz-placeholder {
    color: #867e7e;
}

.placeholder-dark input::-moz-placeholder {
    color: #867e7e;
}

.placeholder-dark input:-ms-input-placeholder {
    color: #867e7e;
}

.main-search input:focus::-webkit-input-placeholder {
    color: #867e7e;
}

.main-search input:focus:-moz-placeholder {
    color: #867e7e;
}

.main-search input:focus::-moz-placeholder {
    color: #867e7e;
}

.main-search input:focus:-ms-input-placeholder {
    color: #867e7e;
}

.main-search input::-webkit-input-placeholder {
    color: #fbfbfb;
}

.main-search input:-moz-placeholder {
    color: #fbfbfb;
}

.main-search input::-moz-placeholder {
    color: #fbfbfb;
}

.main-search input:-ms-input-placeholder {
    color: #fbfbfb;
}

.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px
}

.preloader-wrapper.small {
    width: 36px;
    height: 36px
}

.preloader-wrapper.big {
    width: 64px;
    height: 64px
}

.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: #26a69a
}

.spinner-blue, .spinner-blue-only {
    border-color: #4285f4
}

.spinner-red, .spinner-red-only {
    border-color: #db4437
}

.spinner-yellow, .spinner-yellow-only {
    border-color: #f4b400
}

.spinner-green, .spinner-green-only {
    border-color: #0f9d58
}

.active .spinner-layer.spinner-blue {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.active .spinner-layer.spinner-red {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.active .spinner-layer.spinner-yellow {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.active .spinner-layer.spinner-green {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.active .spinner-layer, .active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg)
    }
    to {
        -webkit-transform: rotate(1080deg)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes blue-fade-in-out {
    from {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes blue-fade-in-out {
    from {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes red-fade-in-out {
    from {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
}

@keyframes red-fade-in-out {
    from {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
}

@-webkit-keyframes yellow-fade-in-out {
    from {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    76% {
        opacity: 0
    }
}

@keyframes yellow-fade-in-out {
    from {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    76% {
        opacity: 0
    }
}

@-webkit-keyframes green-fade-in-out {
    from {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes green-fade-in-out {
    from {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.gap-patch .circle {
    width: 1000%;
    left: -450%
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg)
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}

.active .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(130deg)
    }
}

@keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

#spinnerContainer.cooldown {
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1)
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    #toast-container {
        min-width: 100%;
        bottom: 10%;
    }

    #toast-container .toast {
        font-weight: normal !important;
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #toast-container {
        left: 30%;
        top: 30%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 30%;
        left: 50%;
        max-width: 86%;
    }
}

.toast {
    border-radius: 2px;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-18.material-icons-fix-padding {
    margin-top: -4px;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0 0 0 3rem;
}

.toast.rounded {
    border-radius: 24px
}

.notext-decoration {
    text-decoration: none !important;
}

@media only screen and (max-width: 768px) {
    .toast {
        width: 100%;
        border-radius: 0
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .toast {
        float: left
    }
}

@media only screen and (min-width: 993px) {
    .toast {
        float: right
    }
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
}

/*end placeholder fix*/
.height-auto {
    height: auto !important;
}

.center-absolute {
    left: 50%;
    transform: translate(-50%, 0);
}

.custom-style-message-box {
    text-align: left;
    height: 100%;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    margin: 5px;
}

.custom-style-message-error {
    border-left: thick solid #790000;
    color: #fff;
    background-color: #cf3338;
}

.custom-style-message-info {
    border-left: thick solid #2e4b83;
    color: #fff;
    background-color: #5574b9;
}

.custom-style-message-success {
    border-left: thick solid #063f20;
    color: #fff;
    background-color: #0b6938;
}

.custom-style-message-warning {
    border-left: thick solid #a68b30;
    color: #fff;
    background-color: #d6b011;
}

.custom-style-message-desc {
    font-size: 17px !important;
}

.custom-style-message-hr {
    margin: 3px 0 3px 0 !important;
}

.custom-style-message-hr-error {
    border: 1px solid #790000;
}

.custom-style-message-hr-info {
    border: 1px solid #2e4b83;
}

.custom-style-message-hr-success {
    border: 1px solid #063f20;
}

.custom-style-message-hr-warning {
    border: 1px solid #a68b30;
}

.custom-style-message-text {
    text-align: left !important;
    font-size: 15px !important;
    font-weight: bold;
    line-height: 20px;
}

.blue-shade {
    background: #3d6a89 !important;
}

.blue-shade-color, a.blue-shade-color {
    color: #19539f !important;
}

.black-shade-color a.black-shade-color {
    color: rgb(117, 117, 117) !important;
}

.green-shade {
    background: #216f3b !important;
}

.red-shade {
    background: #dc2537 !important;
}

.expandable-text p.item-body {
    max-height: 120px;
    position: relative;
    overflow: hidden;
}

/*Strip Slider - slideX*/
.slider-strips .slideOuter {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.slider-strips .slideOuter .left {
    left: 0;
}

.slider-strips .slideOuter .right {
    right: 0;
}

.slider-strips .slideOuter .arrowX {
    background-color: rgba(250, 250, 250, .5);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58px;
    padding-top: 4px;
    text-align: center;
    color: black;
    z-index: 1;
}

.slider-strips .slideOuter .slideInner {
    width: 9999px;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 5px 0;
}

.slider-strips .slideOuter .slideX img {
    width: 125px;
    height: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.slider-strips .slideOuter .slideX {
    width: 135px;
    height: auto;
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
}

.slider-strips .slideOuter .slideX h5 {
    color: #022634;
    font-weight: bold;
    line-height: 18px;
}

.slider-strips .slideOuter .slideX .center {
    text-align: center;
}

.slider-strips .slideOuter {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.slider-strips .slideWrapper {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

.slider-strips .slider {
    width: auto;
    max-height: 200px;
    display: block;
    float: left;
    overflow-y: hidden;
    background: transparent !important;
}

.slider-strips .responsive-png {
    width: 200px;
    height: auto;
}

/*Strip Slider - slideX*/

.expandable-text .item-shade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
    height: 30px;
    padding: 40px 0;
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #f2f2f2);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #f2f2f2);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f2f2f2);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #f2f2f2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f2f2f2);
}

.scroll-to-top, .scroll-to-bottom, a.scroll-to-top, a.scroll-to-bottom {
    cursor: pointer;
    position: fixed;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.scroll-to-top, a.scroll-to-top {
    bottom: 145px;
    z-index: 99999;
}

.scroll-to-bottom, a.scroll-to-bottom {
    bottom: 90px;
    z-index: 99998;
}

.scroll-to-top i, .scroll-to-bottom i, a.scroll-to-top i, a.scroll-to-bottom i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.scroll-to-top:hover, .scroll-to-bottom:hover, a.scroll-to-top:hover, a.scroll-to-bottom:hover {
    background: rgba(0, 0, 0, 0.9);
}

.scroll-to-top:hover i, .scroll-to-bottom i, a.scroll-to-top:hover i, a.scroll-to-bottom i {
    color: #fff;
}

.full-screen-height {
    height: 100vh;
}

.full-screen-width {
    height: 100vw;
}

.position-static {
    position: static;
}

body {
    background: #fff;
}

.search select {
    font-size: 13px;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    -webkit-appearance: none;
    border: 0 !important;
    border-bottom: none !important;
}

.search a.search_btn {
    height: 45px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.search .form-control, .search .form-group .form-control, .contact_us .form-control, .contact_us .form-group .form-control {
    background-image: none !important;
    padding-top: 4px;
}

.search .selectize-control.single .selectize-input, .search .selectize-control.multi .selectize-input {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.search .selectize-control.single .selectize-input {
    width: 234px !important;
    height: 39px;
}

.search .selectize-control.multi .selectize-input.input-active:after, .search .selectize-control.multi .selectize-input:after, .search .selectize-control.single .selectize-input.input-active:after, .search .selectize-control.single .selectize-input:after {
    right: auto;
    position: absolute;
    font-size: 0;
    content: "";
    font-family: 'Material Icons';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search_teacher_wrapper .selectize-control.multi .selectize-input [data-value], .search .selectize-control.multi .selectize-input [data-value], .search_teacher_wrapper .selectize-control.single .selectize-input [data-value], .search .selectize-control.single .selectize-input [data-value] {
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3) !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: #52637b !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03) !important;
}

.search_teacher_wrapper .selectize-control.multi .selectize-input > div, .search .selectize-control.multi .selectize-input > div, .search_teacher_wrapper .selectize-control.single .selectize-input > div, .search .selectize-control.single .selectize-input > div {
    cursor: pointer !important;
    margin: 0 3px 3px 0 !important;
    padding: 2px 6px !important;
    background: #52637b !important;
    color: #ffffff !important;
    border: 1px solid #374055 !important;
}

.padding-correct {
    padding: 5px 0 30px 0;
}

.main-heading {
    font-weight: bold;
    font-size: 41px;
}

.sub-heading {
    font-size: 24px;
}

.search_result_main {
    padding-top: 110px;
}

.search_result_main.desktop {
    padding-top: 50px;
}

footer {
    width: 100%;
    min-height: 100px;
    color: #fff;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none !important;
}

.navbar-brand img {
    margin-top: 5px;
    width: auto;
    height: 40px;
}

.navbar-nav li.login {
    padding-right: 10px;
    background: #4c8592;
}

.hide {
    display: none !important;
}

.section-association img {
    width: auto;
    height: 120px;
}

/*medium and large*/
@media all and (min-width: 992px) {
    .md-text-right {
        text-align: right;
    }

    .md-text-left {
        text-align: left;
    }

    .md-text-center {
        text-align: center;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

    .sm-inline {
        display: inline;
    }

    .search {
        width: 600px;
        height: 45px;
        background: white;
        margin-left: auto;
        margin-right: auto;
    }

    .search a.search_btn {
        margin: 0;
        width: 100px;
    }

    .search .selectize-control.multi .selectize-input {
        width: 234px !important;
        height: 39px;
    }

    .search .make-border {
        border-right: 1px solid rgb(170, 170, 170);
    }

    .navbar-primary {
        z-index: 1040;
        height: 10px !important;
    }

    .navbar-primary {
        min-height: 30px;
        height: 30px;
    }

    .navbar-primary .navbar-brand {
        padding: 0 12px;
        font-size: 16px;
        line-height: 30px;
    }

    .navbar-primary .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 30px;
    }

    .navbar-primary.bg-color {
        background: rgba(0, 0, 0, 0.7) !important;
    }

    .navbar-secondary {
        min-height: 50px;
        height: 55px;
    }

    .navbar-secondary .navbar-brand {
        padding: 0 12px;
        font-size: 16px;
        line-height: 50px;
    }

    .navbar-secondary .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px;
    }

    .navbar-secondary {
        top: 30px;
    }

    .navbar-secondary.bg-color {
        background: rgba(0, 0, 0, 0.3) !important;
    }

    nav.navbar.navbar-primary .navbar-brand img {
        height: 20px;
    }

    nav.navbar.navbar-primary .navbar-brand .home-icon {
        line-height: 17px;
        font-size: 24px;
    }

    .fixed-search, .non-scrollable-fixed-search-wrapper .non-scrollable-fixed-search {
        position: fixed;
        top: 35px;
        left: 20px;
        right: 20px;
        z-index: 1050;
    }

    .fixed-callback {
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 1038;
    }

    .sm-align {
        text-align: right;
    }

    footer {
        background: #002633 !important;
    }

    body.modal-open {
        position: fixed !important;
        right: 0 !important;
        left: 0 !important;
        padding-right: 0 !important;
    }
}

/*upto tablet*/
@media all and (min-width: 767px) and (max-width: 991px) {
    .sm-text-right {
        text-align: right;
    }

    .sm-text-left {
        text-align: left;
    }

    .sm-text-center {
        text-align: center;
    }
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    .xs-inline {
        display: inline;
    }

    .xs-text-right {
        text-align: right;
    }

    .xs-text-left {
        text-align: left;
    }

    .xs-text-center {
        text-align: center;
    }

    .search {
        /*background: white;*/
        margin-left: auto;
        margin-right: auto;
    }

    .sm-container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .search_result_main.background-adjust {
        background: #2a5d7a;
    }

    .xs-search-padding-adjust {
        padding-right: 0;
    }

    .search a.search_btn {
        width: 100%;
    }

    .search .selectize-control.multi .selectize-input {
        width: 100% !important;
        height: 39px;
    }

    .navbar .nav.navbar-nav, .navbar .navbar-brand {
        /*display: none;*/
    }

    .navbar .navbar-toggle {
        margin-right: 0;
    }

    .bg-color {
        background-color: #4d738a !important;
    }

    .navbar-brand img {
        width: auto;
        height: 30px;
    }

    footer .navbar-brand img {
        margin-left: auto;
        margin-right: auto;
    }

    footer .navbar-brand {
        float: none;
    }

    .navbar .navbar-brand {
        padding: 10px 5px !important;
    }

    .start_a_class_btn {
        /*display: none;*/
        margin-left: auto;
        margin-right: auto;
    }

    .section-main-top .bg-image-main {
        padding-top: 100px;
    }

    .main-heading {
        font-weight: bold;
        font-size: 6vw;
    }

    .sub-heading {
        font-size: 4vw;
    }

    .sm-align {
        text-align: center;
    }

    .row-xs {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row-xs:after {
        clear: both
    }

    .row-xs:after, .row-xs:before {
        display: table;
        content: " "
    }

    .container-fluid-xs {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    .container-fluid-xs:after, .container-fluid-xs:before {
        display: table;
        content: " "
    }

    .container-fluid-xs:after {
        clear: both
    }

    footer {
        background: #2a5d7a !important;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {
    .body-container, .navbar, .search-filter-typeoflocation {
        min-width: 320px;
    }

    .modal-dialog {
        min-width: 300px;
    }
}

/*from 0px to larger devices*/
@media all and (min-width: 0px) {

}
