body {
    background-size: 600px !important;
    /*background: url(../images/pattern.svg);*/
    opacity: 0.9;
}

.bg-image-main {
    background: url("../images/homepage_bg.jpg") no-repeat;
    /*opacity: 0.95;*/
    min-height: 400px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
    padding-top: 167px;
    padding-bottom: 5px;
}

.section-main-top .start_a_class_btn {
    background: rgba(250, 250, 250, 0.8) !important;
    color: rgba(0, 0, 0, .90) !important;
    border: 1px solid white !important;
    font-weight: bold;
    width: 150px;
    padding: 5px 0;
    font-size: 10px;
}

.section-main-top .start_a_class_btn i.material-icons {
    margin: 0 -3px 0 6px;
}

.section-main-top .sub-heading {
    margin-bottom: 0 !important;
}

.card.card-section-styles {
    background: #f2f2f2 !important;
}

.comic-strip {
    padding: 15px;
}

.comic-strip.bg1 {
    background: #3a7988;
    color: #ffffff;
}

.comic-strip.bg2 {
    background: #62c3c9;
    color: #03263c;
}

.comic-strip.bg3 {
    background: #42528f;
    color: #ffffff;
}

.comic-strip.bg4 {
    background: #cf6b49;
    color: #ffffff;
}

.comic-strip.bg5 {
    background: #f16631;
    color: #ffffff;
}

.decorated_cards {
    -moz-border-radius: 7%;
    -webkit-border-radius: 7%;
    border-radius: 7%;
    -khtml-border-radius: 7%;
    width: 80%;
    height: 80%;
    background: white !important;
}

.decorated_cards img, .decorated_cards {
    min-width: 70px;
    min-height: 70px;
    max-width: 150px;
    max-height: 150px;
}

.section-strips .main-heading {
    color: #022634;
    font-size: 28px;
}

.slider-strips .slideWrapper {
    background-color: white;
}

.slider-strips .slideOuter .slideInner {
    width: 2460px;
    max-height: 195px;
}

.slider-strips .slideOuter .arrowX {
    top: 58px;
}

.slider-strips .slideOuter .slideX img {
    border-radius: 9% !important;
    -moz-border-radius: 9% !important;
    -webkit-border-radius: 9% !important;
    border: 0 !important;
    width: 125px;
    height: auto;
    min-height: 125px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
}

.responsive-png {
    width: 200px;
    height: auto;
}

.section-why-pedagoge .decorated_cards, .section-why-pedagoge .decorated_cards img, .section-how-it-works .decorated_cards, .section-how-it-works .decorated_cards img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    max-width: 175px;
    max-height: 175px;
}

.section-desc {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: rgba(1, 1, 1, 0.6);
    padding: 10px;
}

section.section-stats {
    margin: 0 0 -5px 0;
}

section.section-stats .item-counter .count {
    font-size: 4.2em;
    font-weight: bold;
}

section.section-stats .item-counter .item-desc {
    font-size: 2.1em;
}

section.section-stats .hearfromus-forteachers {
    font-size: 16px;
    text-align: center;
}

section.section-stats .circular-testimony-forteachers {
    border-radius: 50%;
    border: 5px solid #A7AAA2;
    height: 120px !important;
    width: auto !important;
}

section.section-stats .grayscale-forteachers {
    -webkit-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
}

section.section-stats .carousel-inner > .item > img {
    margin: 0 auto !important;
}

section.section-stats .slider-forteachers .circle-item {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    color: white;
    margin: 0 0 10px 0;
}

section.section-stats .slider-forteachers .circle-item.color1 {
    background: #F06292;
}

section.section-stats .slider-forteachers .circle-item.color2 {
    background: #03A9F4;
}

section.section-stats .slider-forteachers .circle-item.color3 {
    background: #009688;
}

section.section-stats .slider-forteachers .circle-item span {
    text-align: center;
    line-height: 50px;
    display: block;
    font-weight: bold;
}

section.section-stats .closeq {
    font-size: 14px;
}

section.section-stats .teachername-forteachers {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -2px;
}

section.section-stats .teachershortdesc-forteachers {
    line-height: 15px;
    color: #929490;
}

section.section-stats .carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

section.section-stats .carousel.carousel-fade .active.item {
    opacity: 1;
}

section.section-stats .carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

section.section-stats .carousel.carousel-fade .next, .carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

section.section-stats .carousel.carousel-fade .carousel-control {
    z-index: 3;
}

.clickable {
    cursor: pointer;
}

.desc-styles {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.contact_form .show_result {
    max-width: 800px;
}

.contact_us .form-inline .form-group {
    width: 100%;
}

.contact_us input[type=text], .contact_us input[type=email] {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    background: #ffffff;
    padding-left: 10px;
    width: 100%;
}

.contact_us label {
    margin-left: 10px !important;
}

.contact_us .contact_submit {
    background: rgba(1, 1, 1, 0.6) !important;
    color: #fff;
    border: 1px solid #7a7a7a !important;
}

@media all and (max-width: 767px) {
    .section-main-top .start_a_class_btn {
        background: #009688 !important;
        color: rgba(255, 255, 255, .84) !important;
        width: 210px;
        padding: 5px 5px;
        border: 0 !important;
        font-weight: normal;
        font-size: 14px;
    }

    .desc-styles {
        font-size: 10px;
    }

    .section-desc {
        font-size: 4vw;
        padding: 0 5px;
    }

    section.section-stats .item-counter .count {
        font-size: 1.8em;
        font-weight: bold;
    }

    section.section-stats .item-counter .item-desc {
        font-size: 1.0em;
    }
}

@media all and (min-width: 768px) {
    section.section-stats .testimonial-wrapper {
        margin: 0;
        min-height: 180px;
    }

    section.section-stats .closeq {
        font-size: 15px;
    }

    section.section-stats .teachername-forteachers {
        font-size: 16px;
    }

    section.section-stats .hearfromus-forteachers {
        font-size: 18px;
    }
}

@media all and (min-width: 421px) and (max-width: 767px) {
    section.section-stats .testimonial-wrapper {
        margin: 0;
        min-height: 200px;
    }
}

@media all and (min-width: 0px) and (max-width: 420px) {
    section.section-stats .testimonial-wrapper {
        margin: 0;
        min-height: 250px;
    }
}

@media all and (min-width: 1920px) {
    .bg-image-main {
        padding-top: 315px !important;
        min-height: 615px !important;
    }

    .main-heading {
        font-size: 40px !important;
    }

    .section-main-top .start_a_class_btn {
        /*margin-top: 115px !important;*/
    }
}

/* Subhomoy */

/* 20-01-2018 */

.banner_controller{
	min-height:500px;
}
.student_teacher{
	text-align:center;
}
.student_teacher a{
	display: inline-block;
	vertical-align: middle;
	padding: 10px 15px;
	color: #fff;
	border-radius: 6px;
	margin: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 18px;
}
.student_teacher a:hover{
	text-decoration:none;
}
.i_am_student{
	background-color:#2F9CD1;
}
.i_am_teacher{
	background-color:#89C768;
}

/* 20-01-2018 */

/* Subhomoy */