body, html {
    background: #f2f2f2;
}

h1.main-heading {
    margin-bottom: 3px;
}

.profile_item_rating {
    margin-top: 4px;
    float: right;
}

.expandable-text p.item-body {
    max-height: 66px;
}

.total_recommendation_count_wrapper {
    padding: 5px;
    margin: 3px 14px;
    border-radius: 30px;
    white-space: nowrap;
}

.profile-info-wrapper .star_count_wrapper {
    font-size: 13px;
    margin-top: 8px;
}

.profile-info-wrapper .item-padding-fix {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 15px;
}

.panel.panel-profile > .panel-heading, .panel.panel-profile > .panel-body {
    background-color: #f2f2f2;
}

.panel.panel-profile.panel-modal > .panel-heading, .panel.panel-profile.panel-modal > .panel-body {
    background-color: #ffffff;
}

.panel.panel-profile.panel-modal > .panel-heading a.accordion-toggle {
    font-size: 14px;
}

.panel.panel-profile > .panel-heading.border-bottom-fix {
    border-bottom: dotted 1px #3c6b89;
}

.panel.panel-profile.border-full-fix {
    border: dotted 1px #3c6b89;
}

.panel.panel-profile .bg-color-fix {
    background: #e1e1e1;
}

.panel.panel-profile .panel-heading .accordion-toggle:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    content: "\E315";
    float: right;
}

.panel.panel-profile .panel-default .panel-heading .accordion-toggle:after {
    color: #20529b;
}

.panel.panel-profile .panel-inverted .panel-heading .accordion-toggle:after {
    color: #ffffff;
}

.panel.panel-profile .panel-heading .accordion-toggle.collapsed:after {
    content: "\E313";
}

.panel.panel-profile .panel-title > .small, .panel.panel-profile .panel-title > .small > a, .panel.panel-profile .panel-title > a, .panel.panel-profile .panel-title > small, .panel.panel-profile .panel-title > small > a {
    color: #3c6b89;
    font-weight: bold;
    text-decoration: none;
}

.panel.panel-profile {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.course_item_block_wrapper {
    padding: 10px 0;
    margin: 10px 0;
    background: rgba(214, 214, 214, 0.45);
}

.course_item_block_wrapper .item-desc, .additional_details_item_block .item-desc {
    color: rgb(117, 117, 117);
}

.course_item_block_wrapper .item, .additional_details_item_block .item {
    color: rgba(32, 82, 155, 0.9);
}

.course_item_block_wrapper.padding-fix {
    padding: 10px;
}

.course_item_block_wrapper .teaching_week_days .days_items {
    border: 1px solid #3c6b89;
    border-radius: 50%;
    width: 30px;
    display: inline-block;
}

.course_item_block_wrapper .teaching_week_days .days_items.reverse {
    background: #3c6b89;
    color: white;
}

.course_item_block_wrapper .teaching_week_days .days_items span {
    text-align: center;
    line-height: 30px;
    display: block;
    font-weight: bold;
}

.profile_data_img_thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile_data_img_thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.profile_data_img_thumbnail {
    position: relative;
    overflow: hidden;
}

.reviews-wrapper .reviews-sub-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

.reviews-wrapper .list-group .list-group-item .row-content {
    width: 100%;
}

.reviews-wrapper .list-group .item-name {
    font-size: 12px;
    line-height: 15px;
}

.reviews-wrapper .list-group .item-person-type {
    font-size: 11px;
    line-height: 0;
}

.reviews-wrapper .list-group .list-group-separator {
    padding: 0 15px 0 15px;
}

.reviews-wrapper .reviews_item_rating .star-rating-text {
    font-size: 15px;
}

.similar-profile-wrapper .row.padding-fix {
    padding: 0 9px;
}

.section-similar-profile.slider-strips .slideOuter .slideInner {
    width: 1756px;
    max-height: 250px;
    min-height: 200px;
}

.section-similar-profile.slider-strips .slideOuter .arrowX {
    top: 93px;
}

.section-similar-profile.slider-strips .slideOuter .slideX {
    margin: 0 5px;
}

.section-similar-profile.slider-strips .slideOuter .slideX p {
    line-height: 17px;
}

.section-similar-profile.slider-strips .slideOuter .slideX .img_holder {
    background-size: contain;
}

.section-similar-profile.slider-strips .slideOuter .slideX .img_holder.portrait {
    background-size: cover;
}

.section-similar-profile.slider-strips .slideOuter .slideX .img_holder, .section-similar-profile.slider-strips .slideOuter .slideX .img_holder.portrait {
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-desc {
    display: inline-block;
    padding: 10px;
    background: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background: no-repeat center;
}

#profile_review_callback .form-group textarea {
    background: rgba(0, 0, 0, 0.02) !important;
}

#share-profile-modal .modal-body .min-height-fix {
    min-height: 100px;
}

#personal-information-profile-modal h5, #institute-information-profile-modal h5{
    word-wrap: break-word;
}

@media all and (max-width: 1036px) {
    .body-container {
        /*min-width: 1036px;*/
    }
}

/*medium and large*/
@media all and (min-width: 992px) {
    main.padding-fix {
        padding: 30px 120px;
        max-width: 1430px;
    }
}

/*tablet, medium and large*/
@media all and (min-width: 768px) {
    h1.main-heading {
        font-size: 30px;
        line-height: 30px;
    }

    .profile_data_img_thumbnail {
        width: 200px;
        height: 200px;
    }

    .btn.style-fix {
        width: 154px;
        height: 32px;
        font-size: 12px;
        padding: 5px 13px;
    }

    .reviews-recommendations-wrapper .min-height-fix {
        min-height: 50px;
    }

    .btn.style-fix .material-icons {
        font-size: 19px;
    }

    .profile-info-wrapper .profile_item_rating img, .reviews-wrapper .reviews_item_rating img {
        height: 20px;
        line-height: 10px;
    }

    .item-text {
        font-size: 16px;
    }

    .profile-info-wrapper .item-padding-fix {
        line-height: 17px;
    }

    .total_recommendation_count_wrapper i.material-icons {
        font-size: 15px;
    }

    .total_recommendation_count_wrapper {
        font-size: 16px;
        width: 139px;
    }

    h5.item-title {
        font-size: 19px;
    }

    p.item-body {
        font-size: 16px;
    }

    button.personal_information_profile_btn {
        font-size: 10px !important;
    }
}

/*only tablet*/
@media all and (min-width: 767px) and (max-width: 991px) {
    main.padding-fix {
        padding: 30px 20px;
        max-width: 991px;
    }

    .profile_data_img_thumbnail {
        width: 170px;
        height: 170px;
    }
}

/*smartphone but not tablet*/
@media all and (max-width: 767px) {
    h3.sub-heading {
        font-size: 18px;
        color: #3c6b89;
    }

    .section-info .heading-padding-fix {
        padding-bottom: 10px;
    }

    h1.main-heading {
        font-size: 21px;
        color: #3c6b89;
    }

    .profile_data_img_thumbnail {
        width: 120px;
        height: 120px;
    }

    .btn.style-fix {
        width: 125px;
        height: 26px;
        font-size: 10px;
        padding: 5px 13px;
    }

    .btn.style-fix .material-icons {
        font-size: 17px;
    }

    .profile-info-wrapper .profile_item_rating img, .reviews-wrapper .reviews_item_rating img {
        height: 9px;
        line-height: 9px;
    }

    .total_recommendation_count_wrapper i.material-icons {
        font-size: 12px;
    }

    .total_recommendation_count_wrapper {
        font-size: 12px;
        width: 90px;
    }

    button.personal_information_profile_btn {
        font-size: 8px !important;
    }
}

/*smartphone*/
@media all and (max-width: 320px) {

}
#txt_teacher_review{
    height: 100px;
    width: 100%;
    resize: none;
    border: none;
    padding-left: 15px;
    border:solid 1px #ccc;
    border-radius: 2%;
}
