.header-business {
    color: #fff;
    font-size: 20px;
    min-height: 400px;
    background: #fff url(../img/business/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-section1-business {
    text-align: justify;
}

.changeto-business-logo-footer {
    display: unset !important;
}

.changeto-business-logo-footer img {
    max-width: 200px;
    height: auto;
    text-align: center;
}

.hide-logo-footer {
    display: none;
}

.logo-business {
    float: left;
    position: absolute;
    top: 10px;
}

.section2-business img {
    width: 150px;
    height: auto;
}

.section2-business {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section2-business h4 {
    font-weight: bold;
}

.modal-title-business {
    color: #000000;
    font-weight: bold;
}

.getstarted-section1-business .text-blue {
    color: #4ce6ff;
    font-weight: bold;
}

.getstarted-section1-business {
    word-wrap: break-word;
}

.divider-section2-business {
    margin-top: 20px;
}

.form1 h4, .form2 h4 {
    color: #000000;
    font-weight: bold;
}

.form1-business {
    background-color: #ffffff;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
}

.resultMsgs {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}
.submit-form1-business, .submit-form2-business{
    background-color: #2491d8 !important;
}
.interested-business {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    background-color: #2491d8;
    border-radius: 5px;
}

.interested-business:hover {
    background-color: #6fb5e7;
}

.popover {
    -webkit-box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.75) !important;
    width: 190px !important;
    text-align: left !important;
}

#cmd_show_login_form{
    margin-top: 5px;
}

/*xs and sm*/
@media only screen and (min-width: 1px) {
    .bgImg {
        background-size: auto 100%;
    }

    .section2-business h2 {
        font-weight: bold;
        font-size: 15px;
    }

    .logo-business img {
        width: 150px;
        height: auto;
    }

    .interested-business, .form1-business {
        margin-top: 20px;
    }

    .header-business {
        padding: 100px 15px;
    }

}

/*md and lg*/
@media only screen and (min-width: 992px) {
    .bgImg {
        background-size: 100% auto;
    }

    .section2-business h2 {
        font-weight: bold;
        font-size: 25px;
    }

    .header-business {
        padding: 240px 15px 0 65px;
    }

    .logo-business img {
        width: 200px;
        height: auto;
    }

    .form1-business {
        float: right;
        position: absolute;
        top: 100px;
        right: 40px;
        background-color: #ffffff;
        padding-bottom: 10px;
        -webkit-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
    }

    .interested-business {
        float: right;
        position: absolute;
        top: 470px;
        right: 40px;
        background-color: #2491d8;
        -webkit-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
    }

    .getstarted-section1-business {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
