/*#myCarousel{
	height: 500px;
	width: 100%;
}
#slider1 {
    height: 500px;
	width:100%;
	display: block;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
#slider2 {
    height: 500px;
	width:100%;
	display: block;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}*/
#myCarousel{
	height: 620px;
	width: 100%;
	padding: 0;
    margin: 0;
}
#slider1 {
    height: 620px;
	width:100%;
	display: block;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
#slider2 {
    height: 620px;
	width:100%;
	display: block;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

#slider1:hover {
    -webkit-filter: none;
    filter: none;
}
#slider2:hover {
    -webkit-filter: none;
    filter: none;
}

.section1-careers {
    
}

/*old css definations*/
.arrow, .header, .slide {
    text-align: center
}

.card, .slide, .slider {
    float: left
}

.card, .row::after, .slide, .slideWrapper, .slider {
    display: block
}

.header, .tile {
    background: no-repeat center;
}

.slideOuter {
    cursor: pointer
}

.opCard a {
    color: #337ab7;
    font-weight: bold;
}

.opCard, .slideWrapper, .slider {
    overflow: hidden
}

.btn-careeers, .header {

}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.section1-careers{
	background: url("../images/careers/sub_careers.jpg") no-repeat;
	height:400px;
	width: 100%;
	background-size: cover;
}
.header-careers {
    /*background:url(../img/bg.jpg);*/
	
    color: #fff;
    padding: 130px 15px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.titlePadding {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color: #2d3846;
    padding-left: 20px;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.titlePadding h1 {
    font-weight: bold !important;
}

.joinHeader {
    background-color: #1D9E74
}

.jobHeader, .joinHeader {
    padding-left: 0 !important;
}

.text-center {
    text-align: center;
}

.perkHeader {
    background-color: #373448
}

.jobHeader {
    box-shadow: #1a1a1a -11px 0px 16px -6px;
    background-color: #f2f2f3 !important;
}

.slideOuter {
    width: 100%;
    height: auto;
    position: relative
}

.slideOuter .left {
    left: 0
}

.slideOuter .right {
    right: 0
}

.arrow {
    width: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 80px;
    padding-top: 12px;
    color: #fff;
    z-index: 1
}

.slideWrapper {
    width: 300px;
    height: auto;
    float: left;
    position: relative
}

.slider {
    width: 1610px;
    max-height: 200px
}

.slide {
    width: 200px;
    height: 200px;
    padding: 10px 0 10px 10px
}

.card, .opWrapper {
    padding: 10px;
    background-color: #f2f2f3 !important;

}

.card {
    width: 100%;
    height: 172px;
    font-size: 12px;
    color: #666;
    text-shadow: 0 -.1px 0 rgba(0, 0, 0, .5);
    line-height: 17px;
    text-align: left;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24);
    background-color: #f2f2f3 !important;
}

.slide .center, .tileblockinner, h1 {
    text-align: center;
}

/*.tileblockouter {
    color: #fff;
    margin-bottom: 7px;
}

.tileblockinner {
    color: #fff;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    height: 250px;
    margin-right: -1px;
}

.tileblockinner:hover {
    -webkit-filter: none;
    filter: none;
}

.tileblockinner .para {
    text-align: justify;
    padding: 10px;
    line-height: 28px;
}*/

.btn-careeers, .btn-careeersWrapper, .footer {
    text-align: center;
}

.tile {
    background-blend-mode: multiply;
    height: 300px;
    border:1px solid;
}

.tile h4 {
    color: #fff;
}

.t1 {
    background: url(../images/careers/idea.svg) no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

.t2 {
    background: url(../images/careers/create.svg) no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.t3 {
    background: url(../images/careers/explore.svg) no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

.t4 {
    background: url(../images/careers/fun.svg) no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}

.titleWrapper {
    color: #353535;
    font-weight: bold;
}
.icon-holder{
    padding: 10px;
    height: 12em;
}
.icon-img{
    width: 150px !important; 
    height: auto;
}
.opCard {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #2d3846
}

.opCardHeader:hover {
    cursor: pointer;
}

.opCardHeader {
    width: 100%;
    height: 50px;
    padding-top: 16px;
    color: #2c3846;
    padding-left: 10px;
}

.opCardHeaderStyle1 {
    background-color: #f1f1f3
}

.opCardHeaderStyle4 {
    background-color: #f1f1f3
}

.opCardHeaderStyle2 {
    background-color: #f1f1f3
}

.opCardHeaderStyle3 {
    background-color: #f1f1f3
}

.opPara {
    display: none;
    padding: 10px;
    background-color: #f1f1f3;
}

.opPara1 {
    padding: 10px;
}

.jobDescPara {
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
}
.jobDescPara p{
    margin-bottom: 0 !important;
}
.btn-careeers, .footer .follow {
    color: #fff;
    font-size: 15px;
}

.hidden {
    display: none;
}

.btn-careeers {
    background-color: #fb9e25;
    -moz-border-radius: 20px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    font-style: normal;
    height: 38px;
    line-height: 38px;
    width: 149px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #cc9f52;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.btn-careeers:hover {
    background-color: #ffc477;
}

.btn-careeers:active {
    position: relative;
    top: 1px;
}

.btn-careeersWrapper {
    padding: 10px;
}

.ie .arrow {
    display: none !important;
}

.ie .slideWrapper {
    overflow: auto !important;
}

.ie .footer {
    filter: none !important;
}

.divider-section2-careers {
    height: 1px;
}

@media only screen and (min-width: 1em) {
    .bgImg {
        background-size: auto 125% !important
    }
}

@media only screen and (max-width: 459px) {
    .tilePos {
        background-size: auto 100% !important
    }
}

@media only screen and (min-width: 460px) {
    .tilePos {
        background-size: 100% auto !important
    }
}

@media only screen and (min-width: 34em) {
    .bgImg {
        background-size: 125% auto !important
    }

    .opCardHeight {
        height: auto
    }
}

@media only screen and (min-width: 62em) {
    .opCardHeight {
        height: 135px
    }
}

@media only screen and (min-width: 75em) {
    .opCardHeight {
        height: 150px
    }
}

@media only screen and (min-width: 75em) {
    .opCardHeight {
        height: 150px
    }
}

@media only screen and (max-width: 600px) {
	#myCarousel{
		height: 200px;
		width: 100%;
    }
	#slider1 {
		background-image: url("../images/careers/team_group_mobile.jpg") no-repeat;
		height: 200px;
		width:100%;
		display: block;
		-webkit-filter: grayscale(80%);
		filter: grayscale(80%);
	}
	#slider2 {
		background-image: url("../images/careers/collage_mobile.jpg") no-repeat;
		height: 200px;
		width:100%;
		display: block;
		-webkit-filter: grayscale(80%);
		filter: grayscale(80%);
	}
}
@media (min-width:320px) and (max-width:480px)
{
#myCarousel{
	height: 200px;
}
#slider1 {
    height: 200px;
}
#slider2 {
    height: 200px;
}
}
@media (min-width:481px) and (max-width:640px)
{
#myCarousel{
	height: 300px;
}
#slider1 {
    height: 300px;
}
#slider2 {
    height: 300px;
}
}
@media (min-width:641px) and (max-width:767px)
{
#myCarousel{
	height: 350px;
}
#slider1 {
    height: 350px;
}
#slider2 {
    height: 350px;
}
}
@media (min-width:768px) and (max-width:959px)
{
#myCarousel{
	height: 400px;
}
#slider1 {
    height: 400px;
}
#slider2 {
    height: 400px;
}
}
@media (min-width:960px) and (max-width:1199px)
{
#myCarousel{
	height: 500px;
}
#slider1 {
    height: 500px;
}
#slider2 {
    height: 500px;
}
}