/**
 *
 * Modified to match requirements of Pedagoge
 *
 */

body {
    background-color: #f2f2f2 ;
}

.bold {
    font-weight: bold;
}

.effectsOnHover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-404 {
    background-color: #222 !important;
    color: #ccc !important;
}

.h1 {
    font-size: 5em;
}

.h3 {
    font-size: 2em;
}

.tooltip-wrap {
    position: relative !important;
}

.tooltip-wrap .tooltip-content {
    display: none !important;
    position: absolute !important;
    bottom: 1% !important;
    left: 5% !important;
    right: 5% !important;
    background-color: #eaedf1 !important;
    padding: 1em !important;
    border: 1em solid #eaedf1 !important;
    border-radius: 1em;
}
.tooltip-wrap:hover .tooltip-content {
    display: block !important;
    width: 30em;
    color: #424242;
}

.shadow {
    -moz-box-shadow: 0 0.5em 0.5em 0 #999;
    -webkit-box-shadow: 0 0.5em 0.5em 0 #999;
    box-shadow: 0 0.5em 0.5em 0 #999;
}

.block-rounded {
    border-radius: 1em;
}

.block-top-rounded {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.block-scroll {
    float:left;
    overflow-y: auto;
    height: 17em;
    width: 100%;
}

.qualification {
    padding-left: 6%;
}

.site-section-bottom {
    padding-bottom: 2em;
}

.day-border-round {
    border-radius: 100%;
    border: 0.2em solid #f2f2f2;
    padding: 1% 2.5% 1% 2.5%;
}

.btn-signup {
    background-color: #f87f06;
    color: #f2f2f2;
}

.site-footer {
    background-color: #012632;
    color: #f5f5f5;
}

.profile-txt {
    background-color: #012632 !important;
    color: #f5f5f5 !important;
}

.profile-txt a {
    color: #f2f2f2;
}

header.header-scroll {
    background-color: rgba(1, 38, 50, 0.9); 
}

.btn-custom-deafult {
    background-color: #fff !important;
    border-color: #ccc !important;
    border-width: 0.15em !important;
}

.btn-success {
    background-color: #87CF30;
}

.btn-primary {
    background-color: #07BEF8;
}

.background-success {
    color: #f2f2f2;
    background-color: #75ac3a !important;
    border: none !important;
}

.background-primary {
    color: #f2f2f2;
    background-color: #1b9ecb !important;
    border: none !important;
}

.txt-verified {
    color: #ec832d;
    font-size: 1.2em;
}

.btn-black-inverse {
    background-color: white;
    color: black;
    border: 0.2em black solid;
}

.btn-round {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-xs-round {
    border-radius: 5em !important;
}

.btn-bottom-black {
    border-bottom-color: black;
}

.footer-bottom-padding {
    padding: 1% !important;
}

.footer-nav-social a {
	background-color: #f5f5f5;
	color: black !important;
	width: 3em;
	height: 3em;
	line-height: 3.2em;
	border-radius: 1.5em;
}

.fa {
	font-size: 1.3em;
}

.fa-genderless {
    font-size: 1em;
}

.footer-nav li > a {
	color: #f5f5f5;
}

.search-box {
    width: 20em !important;
}

.search-xs-box {
    border-radius: 5em !important;
}

.search-btn {
    width: 5em !important;
    padding-left: 0px !important;
}

.img-display {
    width: auto;
    height: 10em;
    margin: 0 auto;
}

.img-round {
    border-radius: 100%;
}

.img-recommend {
    width: 80%;
}

.img-recommend-pp {
    width: 40%;
}

.color_white {
    color: #f2f2f2 !important;
}

.changing-background-text {
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}
/*
.conatct-social {
    padding: 8%;
}
*/
.conatct-social-icons {
    padding: 4%;
    font-size: 1.5em;
    color: #616161;
}
.conatct-social-icons:hover {
    border-radius: 100%;
    border: 0.1em solid #1bbae1;
    color: #1bbae1;
}

.brand-img {
    height: 1.4em !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.black-border {
    border: 0.1em solid #aaa;
    border-radius: 2.5em;
}

.search-edit{
    border-radius: 4px !important;
    text-align: center;
}

#btn-center{
   text-align: center;
   margin-left: 390px;
}

.or{
    color: #fff;
    font-style: italic;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.home-search-btn{
    padding-right: 0px;
    padding-left: 0px;
}

.select2-search-locality-container {
	width: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#search_subject, .cmd_home_search_btn {
	border-radius: 0px!important;
}


.select2-container .select2-selection--single {
    height: 47px;
}
    
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 47px;
}

.btn-transparent { /* RC */
    border: none;
    background: transparent;
}

.btn-transparent:hover{
    background-color: #f87f06;
}

.btn-transparent:focus{
    color: #fff;
}