.text-black {
    color: #000000;
}

.heading-forteachers {
    text-align: center;
    white-space: nowrap;
}

.font-90 {
    font-size: 90%;
}

.bg-handsup {
    background-size: auto 125% !important
}

.adjust-height {
    min-height: 230px;
}

.hr-handsup {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.46);
    margin: -1px -250px -1px -250px !important;
    padding: 0;
    position: relative;
}

.text-bold {
    font-weight: bold;
}

.section2-forteachers, .section3-forteachers p {
    color: rgb(64, 64, 65);
}

.section3-forteachers h2 {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
}

.section3-forteachers, .section5-forteachers, .section6-forteachers {
    background-color: rgb(221, 221, 221)
}

.section5-forteachers {
    padding-top: 20px;
}

.section6-forteachers {
    display: none;
}

.divider-section5-forteachers {
    height: 15px;
}

.signup-forteachers {
    padding-top: 10px;
    text-align: left !important;
}

.blocktext-forteachers {
    margin-top: -20px;
    line-height: 20px;
}

.block3-forteachers {
    height: 100px !important;
}

.hearfromus-forteachers {
    text-align: center;
}

.circular-testimony-forteachers {
    border-radius: 50%;
    border: 5px solid #A7AAA2;
    height: 120px !important;
    width: auto !important;
}

.grayscale-forteachers {
    -webkit-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
}

.carousel-inner > .item > img {
    margin: 0 auto !important;
}

.teachername-forteachers {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -2px;
}

.teachershortdesc-forteachers {
    line-height: 15px;
    color: #929490;
}

q {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

q:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

q p {
    display: inline;
}

.clickable {
    cursor: pointer;
}