@media only screen and (min-width: 1em) {
    .bgImg {
        background-size: auto 100% !important
    }
}


/*xs*/
@media only screen and (max-width: 768px) {
    .logo-adjust {
        height: 32px !important;
        width: auto;
    }


    .heading-adjust{
        font-size: 20px !important;
    }


    .btn-aling-right-xs {
        text-align: right;
    }


    .btn-aling-left-xs {
        text-align: left;
    }
}


/*sm and up*/
@media only screen and (min-width: 769px) {
    .logo-adjust {
        height: 50px !important;
        width: auto;
    }
    .heading-adjust{
        font-weight: bold;
    }
}


/*For sm*/
@media only screen and (max-width: 992px) {
    .section2-marketingcamp-xs .btn {
        font-size: 20px !important;
        width: 95px !important;
        padding-top: 20px !important;
    }
}


@media only screen and (min-width: 1048px) {
    .bgImg {
        background-size: 100% auto !important
    }
}

.logo-marketingcamp {
    padding: 1px;
}

.home-marketingcamp {
    position: absolute;
    top: 27px;
    right: 15px;
    font-size: 20px;
}

.home-marketingcamp a {
    color: #ffffff !important;
    text-decoration: none;
}


.home-xs-marketingcamp {
    top: 23px !important;
    right: 0 !important;
}


.heading-marketingcamp {
    padding: 90px 0 100px 0;
}


.headersection-marketingcamp {
    color: #fff;
    font-size: 40px;
    background: url(../img/marketingcamp/bg-img.jpg) no-repeat center;
    box-shadow: 0 2px 4px #888888;
}


.text-bold {
    font-weight: bold;
}


.font-20 {
    font-size: 20px !important;
}


.section2-marketingcamp .btn1 {
    color: rgb(35, 191, 247) !important;
    border-color: rgb(35, 191, 247) !important;
}


.section2-marketingcamp .btn2 {
    color: rgb(48, 69, 28) !important;
    border-color: rgb(48, 69, 28) !important;
}


.section2-marketingcamp .btn3 {
    color: rgb(230, 125, 68) !important;
    border-color: rgb(230, 125, 68) !important;
}


.section2-marketingcamp .btn4 {
    color: rgb(118, 172, 66) !important;
    border-color: rgb(118, 172, 66) !important;
}


.section2-marketingcamp .btn5 {
    color: rgb(120, 177, 203) !important;
    border-color: rgb(120, 177, 203) !important;
}


.section2-marketingcamp .btn6 {
    color: rgb(187, 75, 14) !important;
    border-color: rgb(187, 75, 14) !important;
}


.section2-marketingcamp .btn {
    font-weight: bold;
    font-size: 30px;
    height: 75px;
    width: 120px;
    border: 2px solid !important;
    padding-top: 15px;
    border-radius: 15px;
    background-color: #f2f2f2 !important;
}


.section2-marketingcamp a:hover {
    background-color: #ffffff !important;
}


.section2-marketingcamp-border {
    border: 1px solid rgb(93, 93, 93) !important;
    border-radius: 15px;
}


.divider-section2-marketingcamp {
    height: 15px;
}


.divider1-section2-marketingcamp {
    height: 20px;
}


.section3-marketingcamp, .section2-marketingcamp-border p, label {
    color: #0a0a0a;
    font-size: 24px;
    text-align: center !important;
    padding: 10px;
}


.section3-marketingcamp button, .section2-marketingcamp a {
    box-shadow: 0 2px 4px #888888;
}


.section2-content-marketingcamp {
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
}


.section2-content-marketingcamp button, .section2-content-marketingcamp button:hover {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold !important;
}


.section2-content-marketingcamp button {
    background-color: #568db1 !important;
}


.section2-content-marketingcamp button:hover {
    background-color: #7bb0d9 !important;
}


.label-marketingcamp {
    vertical-align: middle;
    display: inline-block;
}


.clear-marketingcamp {
    clear: both;
    vertical-align: middle;
    display: inline-block;
}


.hide-footer {
    display: none;
}