.headersection-moviescamp {
    color: #fff;
    font-size: 40px;
    background: url(../img/movies/bg-img.jpg) no-repeat center;
    box-shadow: 0 2px 4px #888888;
}


.heading-adjust-movies {
    font-size: 34px;
}


.heading-adjust-movies h2 {
    font-size: 32px;
    font-weight: bold;
}


.heading-moviescamp {
    padding: 36px 0 40px 0;
    line-height: 20px;
}


.searchbar-moviescamp {
    padding: 0 0 50px 0;
}


.select2-container .select2-selection--single {
    height: 46px !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px !important;
}


.input-lg {
    margin-top: 10px;
    height: 46px !important;
}


.section3-marketingcamp, .section2-marketingcamp-border p, label{
    padding-left: 50px !important;
}


.crop {
    overflow: hidden;
}


.bg-reel img {
    height: 50px;
    width: auto;
    margin-left: -43px;
    margin-right: -43px;
}


.big-mobilecamp {
    font-size: 40px;
    padding-left: 50px;
}


.bg-reel {
    background-size: auto 125% !important;
}


@media only screen and (min-width: 1em) {
    .bgImg-movies {
        background-size: auto 100% !important
    }
}


@media only screen and (min-width: 1280px) {
    .bgImg-movies {
        background-size: 100% auto !important
    }
}
