body {
    background-color: #f2f2f2;
}

.card-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: rgba(250, 250, 250, 0.9);
}

.absolute {
    position: absolute;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-10 {
    height: 10px;
}

.divider-20 {
    height: 20px;
}

.divider-50 {
    height: 50px;
}

.section1 .content-wrapper {
    padding: 22px 0 0 0;
}

.section1 .content-wrapper h1.heading {
    font-weight: bold;
    font-size: 5vh;
}

.section1 .content-wrapper h2.subheading {
    font-weight: bold;
    font-size: 3vh;
}

.section1 .hr {
    margin-top: 10px;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
}

.section1 img.logo {
    width: 120px;
    height: auto;
    padding-top: 10px;
}

.section1.bg-image-main {
    background: url("../img/placements-technoindia/Bg_Banner.jpg") top center no-repeat;
    min-height: 300px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
}

.section1 img.why {
    max-height: 410px;
    width: auto;
}

.section1 #slideWhyText {
    height: 140px;
}

.section2 {
    padding: 0 0 50px 0;
}

.section2 .culture {
    background: #f1592a;
    height: 85px;
    margin: 0 -15px;
}

.section2 p.desc {
    color: #404040;
    padding: 10px 0;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 0;
}

.section2 img.cultural {
    margin-top: -60px;
}

.section2 .content-spot p {
    margin: 0;
    font-size: 15px;
}

.content-spot {
    font-weight: bold;
}

.content-spot .black-color {
    color: #404040;
}

.content-spot .blue-color {
    color: #0e76bd;
}

.section2 #slideCulture {
    height: 100px;
}

.section3 {
    padding: 10px 0;
}

.section3 .views {
    background: #f1592a;
    height: 85px;
    margin: 0 -15px;
}

.section3 .content-spot p {
    margin: 10px;
    font-size: 23px;
}

.section4 .opportunities {
    background: #366a80;
    height: 85px;
    margin: 0 -15px;
}

.section4 .panels-container .size-adjust {
    width: 100%;
}

.section4 .panels-container .card .card-header {
    border-bottom: #333 dotted 2px;
}

.section4 .panels-container .card .card-header a, .section4 .panels-container .card .card-header a:focus, .section4 .panels-container .card .card-header a:hover {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.section4 .panels-container .card .panel-heading {
    padding: 0;
}

.section4 .panels-container .card .panel-heading .accordion-toggle:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    content: "\f054";
    color: #333;
    -webkit-text-stroke: 1px white;
}

.section4 .panels-container .card .panel-heading .left.accordion-toggle:after {
    float: left;
}

.section4 .panels-container .card .panel-heading .right.accordion-toggle:after {
    float: right;
}

.section4 .panels-container .card .panel-heading .accordion-toggle.collapsed:after {
    content: "\f078";
}

.section4 {
    padding: 20px 0;
}

@media only screen and (min-width: 0px) {

}

@media only screen and (min-width: 653px) {
    .section2 img.cultural {
        margin-top: -110px;
    }
}

@media only screen and (min-width: 992px) {
    .section2 img.cultural {
        margin-top: -50px;
    }

    .section2 .content-spot .image-spot {
        text-align: center;
        position: relative !important;
    }

    .section2 .content-spot .image-spot .work {
        top: 22px;
        left: 15px;
    }

    .section2 .content-spot .image-spot .eager {
        bottom: 22px;
        left: 10px;
    }

    .section2 .content-spot .image-spot .participative {
        left: 50%;
        top: 0;
    }

    .section2 .content-spot .image-spot .freedom {
        right: 15px;
        top: 22px;
    }

    .section2 .content-spot .image-spot .vision {
        right: 0;
        bottom: 22px;
    }

    .section3 {
        padding: 20px 0;
    }
}