.section1 {
    margin-top: 150px;
}

.section1 .congratulations img {
    max-width: 649px;
    height: auto;
    width: 70%;
}

.section1 img.oops{
    height: auto;
    width: 30%;
}

.section1 .payment img {
    max-width: 523px;
    height: auto;
    width: 70%;
}

.section1 .animation img {
    max-width: 245px;
    height: auto;
    width: 100%;
}

.section2 {
    padding-top: 15px;
    height: 75px;
    background-color: #dedede;
}

.section2 .fl img {
    margin-right: 8px;
    margin-left: 8px;
    height: auto;
    width: 15%;
    max-width: 50px;
}

.marginT10 {
    margin-top: 10px;
}

.bold {
    font-weight: bold !important;
}

.text-left {
    text-align: left;
}

.text-inline-block {
    display: inline-block;
}

.contactus {
    margin-bottom: 40px;
}

.review-textarea textarea {
    background-color: #dedede;
}

.review-textarea textarea:focus {
    border-color: #333;
}

@media screen and (max-width: 767px) {
    .hide-footer {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .review-textarea textarea {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .review-textarea .submit-btn {
        margin-top: 4px;
        max-width: 400px;
        margin-bottom: 20px;
    }
}

.review-textarea input[type="radio"] {
    display: none;
}

.rateus {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.stars {
    display: inline-block;
}

.review-textarea label {
    cursor: pointer;
    border: 0 solid transparent;
}

.review-textarea .submit-btn {
    margin-right: auto;
    margin-top: 5px;
    margin-left: auto;
    background-color: #2c94bf;
    color: #ffffff;
    border: 1px solid #333;
    font-weight: bold;
}

.hover {
    display: none;
}

.alignment-adjust {
}